# Assume Data wherever needed/necessary

### Loop Statements

In [ ]:
# WAP stands for Write A Program

In [ ]:
#L1 E
WAP to print all elements of a list using a for loop. 
Take the elements of the list from the user.

For e.g. Input: l = [3,'Hi',67,0,12,0,8]
        Output: 3
                'Hi'
                67
                0
                12
                0
                8

In [ ]:
#L2 M
WAP to take inputs from user to make a list. Length of the list has to be taken from the user.
Again take one input from user and search it in the list and delete that element, if found.
If not found, print "Element not present".

For e.g. Input: len_list = 5
                list = ["a", "b", "y", "e", "p"]
                search_element = "g"
                    Output: "Element not found"
                search_element = "e"
                    Output: ["a", "b", "y", "p"]

In [ ]:
#L3 EM
Make a grading system for a school based on the marks of the students using the following criteria.
Marks 0 - 40 : Grade F
     41 - 50 : Grade E
     51 - 70 : Grade D
     71 - 80 : Grade C
     81 - 90 : Grade B
     91 - 100: Grade A
Continuously take marks as input from the user and print the grade. 
The user can enter "Stop" to stop the loop.
if m>=0 and m<40:
          print("F")
        elif m>=41 and m<=75:
          print("B")
        elif m>=76 and m<=100:
          print("A")

In [8]:
m="s"

while True:
      
        m=input()
        if m=="s":
          break
       
        if int(m)>=0 and int(m)<40:
          print("F")
        elif int(m)>=41 and int(m)<=75:
          print("B")
        elif int(m)>=76 and int(m)<=100:
          print("A")

B
B

In [ ]:
#L4 E
WAP to save the cube of all numbers from 1 to a number n in list, 
where n is taken as input from the user.

For e.g. Input: 5
        Output: [1, 8, 27, 64, 125]  #Cube of numbers from 1 to 5 where 5 is the input from the user

In [ ]:
#L5 E
WAP to print even numbers in a given range in reverse order. Take the range from the user.

For e.g. Input: start = 3
                End = 14
        Output: 14, 12, 10, 8, 6, 4

In [ ]:
#L6 E
WAP to print odd numbers in a given range in reverse order.
Take the range from the user.

For e.g. Input: start = 3
                End = 14
        Output: 13, 11, 9, 7, 5, 3

In [ ]:
#L7 E
WAP to print multiplication table of a number taken as input from the user.

For e.g. Input: 5
        Output: 5*1 = 5
                5*2 = 10
                .
                .
                .
                5*10 = 50

In [4]:
a=5
n=10
i=1
while i<=n:
    print(a,"*",i,"=",a*i)
    i+=1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
#L8 E
WAP to print the following pattern.

1
1 2
1 2 3
1 2 3 4

In [ ]:
#L9 H
Write a program to calculate the sum of series up to n terms for a digit d. n & d are taken as input from the user.

For example:
    Input: n = 5, d = 2
    Logic: 2 + 22 + 222 + 2222 + 22222 
    Output: 24690

In [ ]:
#L10 M
WAP that keeps on accepting numbers from the user until the user enters Zero(0) as input.
Display the sum and average of all the numbers.

For example:
    Input: 3, 6, 8, 2, 5, Stop
    Output: Sum = 24
            Average = 4.8

In [ ]:
#L11 E
Accept n numbers from the user and display their average. n is input from the user.

For example:
    Input: n = 5
        Numbers = 3, 6, 2, 9, 0
    Output: Average = 4.0

### String Questions

In [ ]:
#S1 E
Write a Python program to count the number of each of the characters (character frequency) 
   in a string input by the user. Ignore the case.
   For example: Input: "Python is great"
		Output: P = 1, y = 1, t = 2, and so on...

In [15]:
a="Python is great"
b=set(a)
print(b)
for i in b:
    if i==" ":
        continue
    c=a.count(i)
    print(i,":",c)
    
dt={}
print(type(dt))
for i in a:
    dt[i]=a.count(i)
print(dt)

{'r', 'n', 'g', 's', 'e', 'y', 'P', 'o', ' ', 'a', 'i', 't', 'h'}
r : 1
n : 1
g : 1
s : 1
e : 1
y : 1
P : 1
o : 1
a : 1
i : 1
t : 2
h : 1
<class 'dict'>
{'P': 1, 'y': 1, 't': 2, 'h': 1, 'o': 1, 'n': 1, ' ': 2, 'i': 1, 's': 1, 'g': 1, 'r': 1, 'e': 1, 'a': 1}

In [ ]:
#S2 M
Write a Python program to find the digits which are absent in a given mobile number.

   For example: Input : 9354328855
                Output: 0167

In [10]:
a="9354328855"
b="0123456789"
for i in b:
    if i not in a:
        print(i,end="")
    
res= [i for i in b if i not in a]
res

0167

['0', '1', '6', '7']

In [ ]:
#S3 M
WAP in python to find average of n numbers taken as input from the user dynamically.

In [22]:

a=0
c=0
while True:
    n=int(input("enter the value: "))
    c=c+1
    a=a+n
    if n==0:
        break
print(a/(c-1))

5.0

In [ ]:
#S4 E
WAP in python that accepts a hyphen-separated sequence of 
words as input and prints the words in a hyphen-separated 
sequence after sorting them alphabetically.

For e.g. Input: "p-y-t-h-o-n"
        Output: ['h', 'n','o', 'p', 't', 'y']

In [27]:
a="p-y-t-h-o-n"
b=a.split("-")
c=sorted(b)
c

['h', 'n', 'o', 'p', 't', 'y']

In [ ]:
#S5 MH
WAP in python to find the number of vowels, consonants, digits, special 
characters and white space characters in a string input by the user.

Example: Input: "Qwerty@123 "
	output: v = 1, c = 5, d = 3, w = 0, s = 1

In [30]:
a="Qwerty@123 "
s=0
v=0
c=0
d=0
w=0
for i in a:
    if i.isspace():
        s=s+1
    elif i in ("aeiou"):
        v=v+1
    elif i.isdigit():
        d=d+1
    elif i.isalpha():
        c=c+1
    elif not(i.isalnum() and i.isspace()):
        w=w+1
print("v=",v,"c=",c,"d=",d,"w=",w,"s=",s)

v= 1 c= 5 d= 3 w= 1 s= 1

In [ ]:
#S6 MH
WAP in python to check the strength of the password input by the user based on the following features.
    Length minimum of 8 characters  (+1 Strength)
    Combination of upper case & lower case characters (+1 Strength)
    Combination of alphabets & digits (+1 Strength)
    Use of Special Characters (+1 Strength)
    
Example: Input: "Qwerty@123"
        Output: Strength = 4

In [101]:
a=input("Enter Pwd: ")
s=0
c=0
d=0
w=0
if len(a)>=8:
    for i in a:
        if i.isspace():
            s=s+1
        elif i.isdigit():
            d=d+1
        elif i.isalpha():
            c=c+1
        elif not(i.isalnum() and i.isspace()):
            w=w+1
if (s==0 and d>=1 and c>=1 and w>=1 and (d+c+w>=8)):
    print("Strength of pwd is: 4")
else:
    print("Please enter strong pwd")

Please enter strong pwd

In [ ]:
#S7 E
WAP in python to compare two strings and tell the user if both of those strings are same or not. 
Ignore their case.

Example: Input String1: "Hello"
	Input String2: "hello"
	Output: Strings are same

In [103]:
a="Hello"
b="hello"
if a.lower()==b.lower():
    print("same")

same

In [ ]:
#S8 E
WAP in python to calculate the number of times a character is repeated in a given string.
Take the string and character from the user.

Example: Input String: "Neil Nitin Mukesh"
        Input Character: "e"
        Output: 2

In [104]:
a="Neil Nitin Mukesh"
b="e"
c=0
for i in a:
    if i=="e":
        c=c+1
print(c)

2

In [ ]:
#S9 E
WAP in python which accepts string from the user and displays only those characters/elements which are present at an even index.

Example: 
    Input: "Python"
    Output: Pto

In [105]:
a="Python"
print(a[0::2])

Pto

In [ ]:
#S10 E
WAP in python to capitalize the first letter of the First Name and Surname where whole name is taken as input from the user.

Example: Input: "first last" or "FIRST LAST" or "first lAst" i.e. Input can be in any case.
        Output: "First Last"

In [106]:
a="first last"
print(a.title())

First Last

In [ ]:
#S11 EM
Write a Python program that accepts a comma separated sequence of words as input and 
prints the unique words in sorted form (alphanumerically).

	Sample Words : red, white, black, red, green    
	Expected Result : black, green, red, red, white

In [111]:
n=5
b=[]
for i in range(n):
    a=input()
    b.append(a)  
b.sort()
print(b)

['black', 'green', 'red', 'red', 'white']

In [ ]:
#S12 MH
Write a Python program to count repeated characters in a string.

	Sample string: 'thequickbrownfoxjumpsoverthelazydog'
	Expected output :
			o 4
			e 3
			u 2
			h 2
			r 2

			t 2

In [121]:
a='thequickbrownfoxjumpsoverthelazydog'
for i in set(a):
    if i in a:
        c=a.count(i)       
    if c>1:
        print(i,":",c)

t : 2
e : 3
o : 4
h : 2
r : 2
u : 2

### List Questions

In [ ]:
#Li1 M
WAP to remove empty strings from the list of strings. Take list as input from the user.

For example: Input: ["My", "name", "", "is", "", "Alankrita", "", "."]
            Output: ["My", "name", "is", "Alankrita", "."]

In [122]:
a=["My", "name", "", "is", "", "Alankrita", "", "."]
for i in a:
    if i=="":
        a.remove(i)
print(a)

['My', 'name', 'is', 'Alankrita', '.']

In [ ]:
#Li2 H
WAP to make a list of all the characters starting from character 'A' to input charaacter from the user.

For e.g. Input: 'H'
        Output: ["A", "B", "C", "D", "E", "F", "G", "H"]

In [130]:
a=input()
b=ord(a)
c=[]
for i in range(65,b+1):
    c.append(chr(i))
print(c)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']

In [ ]:
#Li3 H
WAP to check if a specific employee e is present in a company or not. Employee names are saved in a list.
e is taken as input from the user.

For example: empList = ["Ashwin", "Rachit", "Sanjana", "David", "Komal"]
            Input1: "Komal"
            Output1: "Employee is present"
            
            Input2: "Nitish"
            Output2: "Employee is not present"

In [136]:
a=["Ashwin", "Rachit", "Sanjana", "David", "Komal"]
if "Komal" in a:
    print("ahe")
else:
    print("nahi")

ahe

In [ ]:
#Li4 M
Write a python program to find the maximum and minimum number in a list of 10 elements 
   (taken as input from the user) and also find the index position of the these numbers.
    
   For example: Input : [25, 2, 1, 86, 42, 32, 27, 12, 31, 10]
		Output: Max Number: 86, Index of Max Number: 3
			Min Number: 1, Index of Min Number: 2

In [143]:
a=[25, 2, 1, 86, 42, 32, 27, 12, 31, 10]
b=max(a)
c=min(a)
print(b,a.index(b))
print(c,a.index(c))

86 3
1 2

In [ ]:
#Li5 M
Given two Python lists of same length. Iterate both lists simultaneously such that list1 
   should display item in original order and list2 in reverse order.
    
   For example: Input = list1 = [10, 20, 30, 40]
			list2 = [100, 200, 300, 400]
            Output: 10 400
                    20 300
                    30 200
                    40 100

In [167]:
a= [10, 20, 30, 40]
b= [100, 200, 300, 400]

for i in range(len(a)):      
    for j in range(len(b)):
        pass
    print(a[i],b[-i-1])

10 400
20 300
30 200
40 100

In [ ]:
#Li6 M
WAP to concatenate two lists index-wise.
    list1 = ["M", "na", "i", "Ashu"]
    list2 = ["y", "me", "s", "tosh"]
    Output: ['My', 'name', 'is', 'Ashutosh']

In [188]:
a= ["M", "na", "i", "Ashu"]
b= ["y", "me", "s", "tosh"]
for i in range(len(a)):
    pass
    for j in range(len(b)):
      if i==j:
         print(a[i]+b[j],end=" ")

My name is Ashutosh

In [ ]:
#Li7 M
WAP to remove/delete items from a list while iterating without creating a duplicate list.
Take the elements to be deleted from the user in real-time.


input : [0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9]
num = 5
output: [0 , 1 , 2 , 3 , 4 ,6 , 7 , 8 , 9]

In [4]:
a=[0 , 1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9]
n=int(input())
for i in a:   
    if i==n:
        a.remove(i)
a

[0, 1, 2, 3, 4, 6, 7, 8, 9]

In [ ]:
#Li8 E
WAP to generate a Python list of all the prime numbers between n to m where n & m are taken as input from the user.

In [15]:
n=int(input())
m=int(input())
c=[]
for i in range(n,m+1):
      for j in range(2,i):
          if i%j==0:
              break   
      else:
        c.append(i)
print(c)

[7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59]

In [ ]:
#Li9 M
WAP to concatenate two lists in the following order:
    list1 = ["Hello ", "World"]
    list2 = ["Hi", "There"]
    Output: ['Hello Hi', 'Hello There', 'World Hi', 'World There']

In [32]:
a=["Hello ", "World"]
b = ["Hi", "There"]
c=[]
for i in range(len(a)):
    for j in range(len(b)):
        c.append(a[i]+" "+b[j])
print(c)

['Hello  Hi', 'Hello  There', 'World Hi', 'World There']

In [ ]:
# Li10 M
Given two lists having names of students and their corresponding marks.
names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil"]
marks = [23, 21, 26, 23, 27, 24]
Take name of a student as input from the user and output his/her marks.

For e.g.:
    Input1: "Alankrita"
    Output1: 26
        
    Input2: "Someone"
    Output2: "Student not found"

In [4]:
n= ["a","b","c","d","e","f"]
m= [23, 21, 26, 23, 27, 24]
z=input()
for i in range(len(n)):    
    if z!=n[i]:
       continue
    else:
        print(m[i])

26

In [ ]:
#Li11 H
Extended question of #Li10
Add an option to change marks of any students in the same code of #Li10. Take student name and new marks from the user. 
Print the modified list as output.

For e.g.: Input: "Ajay"
        new_mark: 25
        Output: marks = [23, 25, 26, 23, 27, 24]

In [7]:
n= ["a","b","c","d","e","f"]
m= [23, 21, 26, 23, 27, 24]
z=input()
nm=int(input())
for i in range(len(n)):    
    if z!=n[i]:
       continue
    else:
        m[i]=nm
        print(m)

[23, 21, 26, 23, 27, 42]

In [ ]:
#Li12 H
Extended question of #Li10
Give an option to enter the marks of a new student into the existing lists names and marks. Take new data as input from user.
Print the new names and marks list as output.

For e.g.: Input: New_name = "Nitish"
                new_Marks = 20
        Output: names = ["Ashutosh", "Ajay", "Alankrita", "Rachit", "Komal", "Anil", "Nitish"]
                marks = [23, 21, 26, 23, 27, 24, 20]

In [10]:
n= ["a","b","c","d","e","f"]
m= [23, 21, 26, 23, 27, 24]
z=input()
n.append(z)
nm=int(input())
for i in range(len(n)):       
    if z!=n[i]:
       continue
    else:
        m.append(nm)
        print(n)
        print(m)

['a', 'b', 'c', 'd', 'e', 'f', 'j']
[23, 21, 26, 23, 27, 24, 36]

In [21]:
b=lambda a: "even" if a%2==0 else "odd"
p=lambda a: "Pallindrome" if a[::1]==a[::-1] else "Not Pallindrome"

print(b(10))
print(p("naman"))

In [22]:
print(b(10))
print(p("naman"))

even
Pallindrome

### Dictionary Questions

In [ ]:
#D1
WAP in Python to merge following dictionaries to create a new one:
	dic1={1:10, 2:20}
	dic2={3:30, 4:40}
	dic3={5:50, 6:60}

In [17]:
a={1:10, 2:20}
b={3:30, 4:40}
c={5:50, 6:60}
d={**a,**b,**c}
e=a|b|c
a.update(b)
a.update(c)
a

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
#D2
WAP in python to generate and print a dictionary that contains a number (between 1 and n) 
in the form {x : x*x} where n is the input from the user.

For e.g. Input: 4
        Output: {1:1, 2:4, 3:9, 4:16}

In [20]:
n=int(input())
a=dict()
for i in range(1,n+1):
    a.update({i:i*i})
a

{1: 1, 2: 4, 3: 9, 4: 16}

In [ ]:
#D3
WAP in python to find the number of vowels, consonants, digits, white space characters & 
special characters in a string and save the result in the form of a dictionary.

In [28]:
a="125QWEerfsde @#fw fw"
d=dict()
n=0
s=0
v=0
sp=0
m=0
for i in a:
    d.update({i:i})
z=d.keys()
print(z)
for z in a:
    
    if z.isalpha():
        n=n+1
        
    elif z.isspace():
        s=s+1
       
    elif (z.__contains__("a" ) or z.__contains__("e" ) or z.__contains__("i" ) or z.__contains__("o" ) or z.__contains__("u" ) or z.__contains__("A" ) or z.__contains__("E" ) or z.__contains__("I" ) or z.__contains__("I" ) or z.__contains__("O" ) or z.__contains__("U" )):
        
        v=v+1
        
    elif z.isdigit():
        m=m+1
        
    elif not(z.isalnum()) and not(z.isspace()):
        sp=sp+1
        
print("Alpha",n)
print("Spaces",s)
print("Vowels",v)
print("Digits",m)
print("Special Chars",sp)

dict_keys(['1', '2', '5', 'Q', 'W', 'E', 'e', 'r', 'f', 's', 'd', ' ', '@', '#', 'w'])
Alpha 13
Spaces 2
Vowels 0
Digits 3
Special Chars 2

In [ ]:
a="125QWEerfsde @#fw fw"
d={}
n=0
s=0
v=0
sp=0
m=0
for i in a:
    if i.isdigit():
        n=n+1
        d["digit"]=n

In [ ]:
#D4
WAP to reverse map the dictionary items. Take dictionary as input from the user.

	For eg., Input: d = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
            Output: d = {65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [27]:
d = {'A': 65, 'B': 66, 'C': 67, 'D': 68}
a=dict()
for k,v in d.items():
    a.update({v:k})
print(a)

{65: 'A', 66: 'B', 67: 'C', 68: 'D'}

In [ ]:
#D5
WAP to save Username and Password of 10 employees in an organisation. 
Take the Username and Password as input from the user one by one and save in the Dictionary.

In [68]:
n=2
d=dict()
for i in range(n):
    u=input()
    p=input()
    d.update({u:p})
d

{'abhi': '123gdsghd', 'akash': 'afs5243'}

In [ ]:
#D6
Extended Question from #D5
Write an additional functionality to check if an employee is present in the organisation or not.
Basically "Search" Functionality based on their username
Take employee name as input from the user.
If the employee is present, print "Present" else print "Not Present"

In [72]:
n=2
d=dict()
for i in range(n):
    u=input()
    p=input()
    d.update({u:p})
print(d)
s=input("Enter the name: ")
if s in d.keys():
    print("Present")
else:
    print("Absent")

{'ab': '34', 'ak': '45'}
Absent

### Misc. Questions - i.e. you can use any data type which seems feasible for question

In [ ]:
#M1
WAP in python that accepts two integers (n) & (m) from user and 
computes the value of 2n3 + 5m2 - 7n + 10

In [73]:
#2n3 + 5m2 - 7n + 10
n=int(input())
m=int(input())
2*n*n*n+5*m*m-7*n+10

32

In [ ]:
#M2
Write a python program to find the intersection of elements from two list 
(find the common elements in two lists).

In [82]:
a=[10,20,10,30,10,40]
b=[20,30,10,20,30,20]
c=[]
l1=int(len(a)/2)
l2=int(len(b)/2)
i1=a[l1]
i2=b[l2]
print("intersection of a:",i1,"\ninterection of b: ",i2)
for i in a and b:
    if a.count(i)>1 or b.count(i)>1:
        c.append(i)
d=set(c)
d

intersection of a: 30
interection of b:  20

{10, 20, 30}

In [ ]:
#M3
WAP in Python to find the Max of n numbers all taken as input from the user.

In [85]:
n=int(input())
c=[]
for i in range(n):
    a=int(input())
    c.append(a)
print(c)
print(max(c))

40

In [ ]:
#M4
WAP which takes a sequence of numbers from the user and check if all input numbers are unique.

In [29]:
n=int(input("enter how man number as input"))
c=[]
z=0
for i in range(n):
    a=int(input("enter numbers"))
    c.append(a)
print(c)
for j in c:
    if c.count(j)>1:
        z=1        
if z:
    print("all numbers are not unique")
else:
    print("all numbers are unique")

[10, 20, 30, 30, 30]
all numbers are not unique

In [ ]:
#M5
WAP to reverse a given integer number.
Example: Input: 105320
        Output: 023501

In [119]:
a=105320
b=str(a)
print(b[::-1])

023501

In [ ]:
#M6
WAP to take 10 integer inputs from the user and save them in a list. 
The inputs have to be mix of even and odd numbers. 
Now make one list to save all the even numbers from the input list. 
Make another list for odd numbers too.

In [120]:
n=int(input("how many no want to add: "))
m=[]
e=[]
o=[]
for i in range(n):
    num=int(input())
    m.append(num)
print(m)
for j in m:
    if j%2==0:
        e.append(j)
    else:
        o.append(j)

print("Even Numbers : ",e)
print("Odd Numbers : ",o)

[10, 20, 33, 36, 35, 47, 62, 13, 69, 84]
Even Numbers :  [10, 20, 36, 62, 84]
Odd Numbers :  [33, 35, 47, 13, 69]

In [ ]:
#M7
WAP to convert temperature in Fahrenheit to Celsius. Take the temperature from the user in float type.

In [122]:
n=float(input("Enter temp: "))
c=round((n - 32) * 5/9 ,2)
print(f"farh temp is {n} and cel temp is: {c}")

farh temp is 55.58 and cel temp is: 13.1

In [ ]:
#M8
WAP to continuously take Names as input from the user. 
Save the incoming names into a list as Full Name and save {First Name:Second Name} in a dictionary.
Take inputs till the user enters "Stop"

For e.g.: Input: "Shahrukh Khan", "Gauri Khan",..................."Stop"
         Output: list1 = ["Shahrukh Khan", "Gauri Khan",....................]
                dict1 = {"Shahrukh":"Khan", "Gauri":"Khan", .....................}

In [190]:
c=[]
l=[]
d=dict()
n="stop"

while True:
    n=input("Enter the Name: ")
    if n=="stop":
        break
    l.append(n)    
l
for i in range(0,len(l)):
    c.append(l[i].split(" "))
    j=sum(c,[])
print(j)   
g = {j[k]: j[k + 1] for k in range(0, len(j), 2)}  
g

['abhi', 'sal', 'akash', 'pat']

{'abhi': 'sal', 'akash': 'pat'}

In [ ]:
#M9
WAP to make a simple and compound interest calculator. Take all the necessary data as input from the user.
Simple Interest = (P*T*R)/100

Compound Interest = P * ( (1+r/100 )t - 1)

In [192]:
p= float(input('Principal: '))
t = float(input('Time: '))
r = float(input('Rate: '))

si = (p*t*r)/100
print('Simple int: ',round(si,2))
ci = p * ( (1+r/100)**t - 1)
print('Compound int: ',round(ci,2))

Simple int:  2986.66
Compound int:  3726.1

In [27]:
def tri_recursion(k):
    if(k > 0):
      result = k + tri_recursion(k - 1)
      print(result)
    else:
       result = 0
    return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21