In [ ]:
# jupyter --config  # Check ONline

# Agenda

- comment
- how to write
- operators
- data types

https://pynative.com/python/basics/

## Comment


- documnet for the developer
- the interpreters readds the comment and doesn't perform any action
- single line commnet :: #
- multiple line commnet :: ''' '''  """ """

In [ ]:
# this is the comment

print( 47 / 6 )
print(42 - 25)

# Information that has added

In [ ]:
'''

feghjdb qwnvdwew
    ver r
     er 
        e.,bvc ewvh
        e cbnvwecwghsv cgqws
        dnwvgcdwfshbwbns
        d cbevcvdw
        
'''


"""

feghjdb qwnvdwew
    ver r
     er 
        e.,bvc ewvh
        e cbnvwecwghsv cgqws
        dnwvgcdwfshbwbns
        d cbevcvdw
        
"""

print(10 ** 3)

In [ ]:
# # How to Write

# No ending of codes with ;
# No calling of void functions
# No explicit declaration of datatype

In [ ]:
# void fun(){
# int x = 100;
# }

x = 100
print("Value of x : ", x)
print("Data Type of x : ",  type( x) )


print("****************************************")
x = 100.3
print("Value of x : ", x)
print("Data Type of x : ",  type( x) )


print("****************************************")
x = 100.3 - 8j  # real + imaginary (j = sqrt(-1))
print("Value of x : ", x)
print("Data Type of x : ",  type( x) )


print("****************************************")
x = "100.3"
print("Value of x : ", x)
print("Data Type of x : ",  type( x) )

## Operators

In [ ]:
# 1. Airthmatic Operator
## / * - + ** // %


print( 25 * 6 )
print( 25 + 6 )
print( 25 - 6 )
print( 25 / 6 )

print( 3 ** 2 ) # Power 
print( 8 ** 4 ) # Power 
print( 100 ** 0.5 ) # Power

In [ ]:
print( 25 / 6 ) # 6 * 4 + 1 = 25

print( 25%6 ) # Modulus :: Return the remainder
print( 80 % 3  ) # Return the remainder

In [ ]:
print( 25 / 6 ) # 6 * 4 + 1 = 25

print( 25 // 6 ) # Return the Quotient
print( 80 // 3 ) # Return the Quotient

# // Integer Division

In [ ]:
print( int( 25 / 6) ) # 6 * 4 + 1 = 25

In [ ]:
x = 5.6  # 5 & 6
x = int(x)
x

In [ ]:
# 2. Assignment operator ( = )
# save a value to the variable
# 

# Object  : Anything that can exist in Python
    
#     Literals : Any value you have mentioned in the program
#             : Right side of the = operator
#     Variables : That can save the value
#             :Left side of = opeator

In [ ]:
154
2.55
4j
"Python"
False
[1, 5]
(1, 5)
{1 : 100, 2 : 200}

print( "END" )

# 154
# 2.55
# 4j
# "Python"
# False

In [ ]:
a = 154
b = 2.55
c = 4j
d = "Python"
e = False
f = [1, 5]
g = (1, 5)
h = {1 : 100, 2 : 200}

print( a ** 0.5  )
print( 25 * 6 )
print( "Python".upper() )

print( a + b )

### How to write the variables

In [ ]:
# 1. Variable name shall be letters, numbers or _

place = "delhi"
place5861 = "pune"
place_8742gfdftyuj = "jaipur"

In [ ]:
print( place )
print( place5861 )
print( place_8742gfdftyuj )

In [ ]:
# 2. Variable name shall not start with numbers

# 452place = 'delhi'
_place = "chennai"

print( _place )

In [ ]:
# 3. No Special chars are allowed
# !@#$%^&*(){}{:"?></*-+"}
# place new = "jammu"

# place.new1 = "mumbai"
# place><54 = "pune"

In [12]:
#** 4. No Keywords are allowed : 

# def = 100
# False = 47852145

# if = 852
# break = 6856

SyntaxError: invalid syntax (<ipython-input-12-fa2c7924f720>, line 6)

In [7]:
import keyword # Python Keywords

print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [9]:
# in = 1452

In [ ]:
# 3. Relatinal or Comparison Operator
# return TRUE if expression is correct
# < > <= >= == !=

print( 25 > 3 )
print( 25 < 3 )
print( 25 == 3 )
print( 25 != 3 )
print( 25 >= 24 )
print( 25 <= 24 )

In [ ]:
# 4. Logical 
# and or not


# &    |  
# ~[Make sure in Data Tables] :: Data Science (Dont Use and or directly)

In [ ]:
# and : return TRUE if all the expressions are true

exp1  exp2  Output
T     T     T
F     T     F
T     F     F
F     F     F

In [ ]:
print( ( 25 > 20) and ( 10 == 10 ) ) # T and T

In [ ]:
print( ( 25 > 20) and ( 10 != 10 ) ) # T and F

In [ ]:
print( ( 25 < 20) and ( 10 == 10 ) ) # F and T

In [ ]:
print( ( 25 > 20) and ( 10 == 10 ) and (6 < 10 ) and ( 0.5 > 1.5 )   ) # T and T and T and F

In [ ]:
# or : return FALSE if all the expressions are False

exp1  exp2  Output
T     T     T
F     T     T
T     F     T
F     F     F

In [ ]:
print( ( 25 > 20) or ( 10 == 10 ) ) # T or T

In [ ]:
print( ( 25 > 20) or ( 10 != 10 ) ) # T or F

In [ ]:
print( ( 25 < 20) or ( 10 == 10 ) ) # F or T

In [ ]:
print( ( 25 < 20) or ( 10 != 10 ) ) # F or F

In [ ]:
print( ( 25 > 20) or ( 10 == 10 ) or (6 < 10 ) or ( 0.5 > 1.5 )   )

In [ ]:
print( ( ( 25 > 20) and ( 10 == 10 ) ) or ( (6 < 10 ) and ( 0.5 > 1.5 ) )   )

In [ ]:
( ( 25 > 20) and ( 10 == 10 ) )

In [ ]:
( (6 < 10 ) and ( 0.5 > 1.5 ) )

In [ ]:
# Not : reverse of the logic
# T -> F
# F ->T

In [ ]:
print( not( 25 > 24 ) ) # not(True)

In [2]:
not(False)

True

In [3]:
not(True)

False

In [ ]:
print( (6 < 10 ) & ( 0.5 > 1.5 ) ) # T and F

In [ ]:
print( (6 < 10 ) | ( 0.5 > 1.5 ) ) # T or F

In [ ]:
# 5. Membership operator (in)
# return TRUE if element is present inside the sequence
# element in seqName

print( "z" in "python programming" )
print( "mm" in "python programming" )
print( "on" in "python programming" )
print( "P" in "python programming" )

In [6]:
print("ab" in "abhi")

True

## Data Types

#### Fundamental :: str, int, float, bool, complex
#### Derived :: list, tuple, sets, dictionary

### 1. String: 

- collection of characters
- write string in a pair or ''  or " "

In [ ]:
w1 = 'new delhi'
w2 = "jammu kashmir"

print( w1, type(w1) )
print( w2, type(w2) )

In [ ]:
w1 = 'new "*/" delhi'
w2 = "jammu '84' kashmir"

print( w1) 
print( type(w1) )
print( w2, type(w2) )

In [ ]:
msg = "evbfewdgshenvbhjukdjennmbe whdkjw bvqbshqwb wqnhbnn bnhn,nmwe dhgywukjs@#$%^&*( )86325865 "
print( msg )
print( id(msg) ) # Return Memory location

In [ ]:
abc = 100
print( id(abc) )
print( id(100) )

### 2. Integer

- 6, -3, 7
- any discrete number

In [ ]:
x1 = 5
print(x1 )
print( type(x1) )

In [7]:
x1 = -95
print(x1 )
print( type(x1) )

-95
<class 'int'>

### 3. double / float

- 6.6, -3.5, 7.2
- any continuous number

In [1]:
x1 = 5.248547854
print(x1 )
print( type(x1) )

5.248547854
<class 'float'>

In [ ]:
x1 = -95.300000017
print(x1 )
print( type(x1) )

### 4. Complex

- any number that has real and imaginary combinations
- real + imaginary(j)
- j is sqrt(-1)

In [8]:
c1 = 5 - 4j
print(c1)
print(type(c1))

(5-4j)
<class 'complex'>

In [ ]:
c1 = 6j
print(c1)
print(type(c1))

In [9]:
j = 54
print(j / 6)

9.0

### 5. logical / boolean

- True and False
- Comaprison or Logical or Membership

In [ ]:
f = False
print(f)
print( type(f) )

In [ ]:
f = True
print(f)
print( type(f) )

In [ ]:
f = 58 > 48
print(f)
print( type(f) )

In [ ]:
f = ( 10 > 8 ) and (5 > 3)
print(f)
print( type(f) )

In [ ]:
f = "P" in "python programming"
print(f)
print( type(f) )

In [ ]:
# Type casting

In [ ]:
str = "58"

print(type(str))

In [4]:
x = int("58")
print(x)
print(type(x))

58
<class 'int'>

In [ ]:
y = int("abc")
print(y)

In [ ]:
abc = 158
abc = float(abc)
print(abc) # 158, 158.0

In [ ]:
abc = 1
abc = bool(abc)
print(abc)

In [ ]:
abc = 0
abc = bool(abc)
print(abc)

In [ ]:
abc = False
abc = int(abc)
print(abc)

In [ ]:
abc = True
abc = int(abc)
print(abc)

In [2]:
abc = False
abc = str(abc)
print(abc)  # "False", "0", ""
print(type(abc))

False
<class 'str'>

In [14]:
# TypeError: 'str' object is not callable

int = 100

In [13]:
print = 1478652145

In [15]:
print("hello")

TypeError: 'int' object is not callable

In [16]:
str

str

In [17]:
int

100

In [18]:
print

1478652145