# Functions 3

## lambda

- single line functions
- it can exist without a FUNCTIONName also. No Function Calling is then AVAILABLE
- def less function


Syntax :: lambda arguments : expression

In [ ]:
if  expression: 
    statements
    statements
    statements
else : 
    statements
    statements

In [1]:
def myfunc(n):
      return lambda a : a * n

mytripler = myfunc(3)

print(mytripler(11))

33

In [ ]:
if  expression: 
    statements
else : 
    statements

outputOfIF if expression else outputOfELSE

### Def Syntax

**Funtion Declaration**
def functionName(a1, a2) :   --- Formal Arguments
    statements
    statements
    
    value = _____________________
    return value #### To take the value out of the funtion

**Calling the Funtion**
functionName(a1, a2)       --- Actual Arguments


### Lambda Syntax

**Funtion Declaration**
functionName = lambda a1, a2 : statements

**Calling the Funtion**
functionName(a1, a2)

In [4]:
## Get Squareroot

def getSquareroot(x) : 
    return x ** 0.5

print( type( getSquareroot ) )
print( getSquareroot( 100 ) )

<class 'function'>
10.0

In [5]:
## Get Squareroot

getSquareroot2 = lambda x : x ** 0.5  # common activity if you apply a function on single data row or data column

print( type( getSquareroot2 ) )
print( getSquareroot2( 100 ) )

<class 'function'>
10.0

In [6]:
lambda x : x ** 0.5

In [11]:
# Weather number is even odd
def evenodd(x):
    if x%2 == 0:
        return "even"
    else:
        return "odd"

print( evenodd(10) )
print( evenodd(11) )

even
odd

In [13]:
even_or_odd = lambda x: "Even" if x % 2 == 0 else "Odd"
print( even_or_odd(10) )
print( even_or_odd(11) )

Even
Odd

In [14]:
# Weather word is palindrome

def palindrome(word) :
    if word[ : :1] == word[ : :-1] :
        return "Palindrome"
    else :
        return  "Not a Palindrome"

word = str(input("Enter the word: ")).strip()
print( palindrome(word) )

word = str(input("Enter the word: ")).strip()
print( palindrome(word) )

Enter the word: madam
Palindrome
Enter the word: 1547
Not a Palindrome

In [16]:
palin_fun = lambda w : "Palindrome" if w[ : : 1] == w[ : : -1] else "Not a Palindrome"

print( palin_fun('madam') )
print( palin_fun('16242') )

Palindrome
Not a Palindrome

In [6]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = filter(myFunc, ages)
print(list(adults))
for x in adults:
  print(x)

[18, 24, 32]

### Filter : 

- Objective is to Filter the values ONLY. FINDING THE VALUES
- Output size may or may not be equal to the Input Size

filter( FunctionName, seqName ) # Use a for loop on the seqName and apply the function one by one on every element

In [24]:
# find the words that are in palindrome. You can also take care of coverting all characters to lowercases
# Input
words = [ "naman", " 75357", "Madam  ", 57842, False, "   Orange  ", " noon " , 8520258]
# output : [ "naman", " 75357", "Madam  ", " noon " , 8520258]

# Way1
newList = []
for w in words : 
    if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] : 
        newList.append(w)

print( newList )


# Way2
newList = [w for w in words if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1]  ]
print( newList )

['naman', ' 75357', 'Madam  ', ' noon ', 8520258]
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]

In [2]:
# find the words that are in palindrome. You can also take care of coverting all characters to lowercases
# Input
words = [ "naman", " 75357", "Madam  ", 57842, False, "   Orange  ", " noon " , 8520258]
# output : [ "naman", " 75357", "Madam  ", " noon " , 8520258]

# Way3

def palin_check(w) :
    if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] : 
        return True
    else :
        return False
    
newList = []
'''for w in words : 
    if palin_check(w) :
        newList.append(w)
print( newList )'''


newList = [w for w in words if palin_check(w)]
print( newList )

['naman', ' 75357', 'Madam  ', ' noon ', 8520258]

In [27]:
# find the words that are in palindrome. You can also take care of coverting all characters to lowercases
# Input
words = [ "naman", " 75357", "Madam  ", 57842, False, "   Orange  ", " noon " , 8520258]
# output : [ "naman", " 75357", "Madam  ", " noon " , 8520258]

# Way4

palin_lambda = lambda w : True if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] else False
    
newList = []
for w in words : 
    if palin_lambda(w) : 
        newList.append(w)
print( newList )


newList = [w for w in words if palin_lambda(w)]
print( newList )

['naman', ' 75357', 'Madam  ', ' noon ', 8520258]
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]

In [32]:
# find the words that are in palindrome. You can also take care of coverting all characters to lowercases
# Input
words = [ "naman", " 75357", "Madam  ", 57842, False, "   Orange  ", " noon " , 8520258]
# output : [ "naman", " 75357", "Madam  ", " noon " , 8520258]

# Way5

def palin_check(w) :
    if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] : 
        return True
    else :
        return False

palin_lambda = lambda w : True if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] else False
    
print( filter( palin_check, words  ) )
print( list( filter( palin_check, words  ) ) )

print( filter( palin_lambda, words  ) )
print( list( filter( palin_lambda, words  ) ) )


print( filter( lambda w : True if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] else False, words  ) )
print( list( filter( lambda w : True if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] else False, words  ) ) )

<filter object at 0x00000187B691D790>
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]
<filter object at 0x00000187B691D0A0>
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]
<filter object at 0x00000187B691D790>
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]

In [11]:
ages = [5, 12, 17, 18, 24, 32]

def myFunc(x):
  if x < 18:
    return False
  else:
    return True

adults = map(myFunc, ages)
list(adults)

[False, False, False, True, True, True]

In [ ]:
# For the given list find out the Even  Numbers ONLY
numbers = [ 2, 5, 11, 0, 8, 6, 13, 23, 45  ]

In [5]:
numbers = [ 2, 5, 11, 0, 8, 6, 13, 23, 45  ]
#Way2

def even(w):
    if w%2==0:
        return True
    else:
        return False

ne=[n for n in numbers if even(n)]
print(ne)

even_lambda = lambda x : True if x%2 == 0 else False

output = [ n for n in numbers if even_lambda(n)  ]
output

[2, 0, 8, 6]

[2, 0, 8, 6]

In [21]:
numbers = [ 2, 5, 11, 0, 8, 6, 13, 23, 45  ]

def even(w):
    if w%2==0:
        return True
    else:
        return False

even_lambda = lambda x : True if x%2 == 0 else False

res_1 = tuple( filter( even, numbers ) ) # Take a single value from the numbers and execute function on it
print( res_1 )

res_2 = list( filter( even_lambda , numbers ) ) # Take a single value from the numbers and execute function on it
print( res_2 )

res_3 = list( map( even_lambda , numbers ) ) # Take a single value from the numbers and execute function on it
print( res_3 )

(2, 0, 8, 6)
[2, 0, 8, 6]
[True, False, False, True, True, True, False, False, False]

### Map : 

- Objective is to EXECUTE THE action on all VALUES. MIght or might not change the value as per Expression.
- Output size is equal to the Input Size

map( FunctionName, seqName ) # Use a for loop on the seqName and apply the function one by one on every element

In [10]:
def myfunc(a, b):
      return a + b

x = map(myfunc, ('apple', 'banana', 'cherry'), ('orange', 'lemon', 'pineapple'))
print(list(x))

['appleorange', 'bananalemon', 'cherrypineapple']

In [ ]:
# For the given list find the factorial of the numbers...
# Apply all possible Ways 1 - 4 shared Above
numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]

In [13]:
num = 0
fact = 1

if num > 0 : 
    for i in range(num , 0 , -1) : 
        fact = fact * i
elif num == 0 : 
    fact = 1
else : 
    fact = "Invalid"
fact

1

In [20]:
def findFactorial(num) : 
    fact = 1

    if num > 0 : 
        for i in range(num , 0 , -1) : 
            fact = fact * i
        return fact
    elif num == 0 : 
        return 1
    else : 
        return "Invalid"

numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]

for each in numbers : 
    print( findFactorial(each) )

res = [ findFactorial( each ) for each in numbers ]
print( res )


res2 = list(  map( findFactorial, numbers ) )
print(res2)

res3 = list(  filter( findFactorial, numbers ) )
print(res3)

2
120
39916800
Invalid
1
40320
Invalid
720
[2, 120, 39916800, 'Invalid', 1, 40320, 'Invalid', 720]
[2, 120, 39916800, 'Invalid', 1, 40320, 'Invalid', 720]
[2, 5, 11, -3, 0, 8, -4, 6]

In [ ]:
'''def even_odd():
    for i in num:
        if i%2==0:
            e.append(i)
        else:
            o.append(i)
    return "Even Num",e,"Odd Num",o
even_odd()'''

In [132]:
numbers = [1, 3, 10, 45, 6, 50]

def is_even(number):
    return number % 2 == 0
def is_odd(number):
    return number % 2 != 0

even_numbers = list(filter(is_even, numbers))
print(even_numbers)
odd_numbers = list(filter(is_odd, numbers))
print(odd_numbers)

[10, 6, 50]
[1, 3, 45]

In [23]:
# For the given list find the Square of the numbers...
# Apply all possible Ways 1 - 4 shared Above
numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]

lambda_square = lambda x : x ** 2
res = [ lambda_square(each) for each in numbers ]
print( res )

res_2 = list( map( lambda_square , numbers) )
print(res_2)

[4, 25, 121, 9, 0, 64, 16, 36]
[4, 25, 121, 9, 0, 64, 16, 36]

In [146]:
num=[10,21,34,52,37,16,42,31]
def is_even(i):
    if i%2==0:
        return i
res=list(map(lambda n: n ** 2, filter(is_even, num)))
res

[100, 1156, 2704, 256, 1764]

# Write ONE Program in different ways

In [12]:
# Normal Way
num=[10,21,34,52,37,16,42,31]
e=[]
o=[]
for i in num:
    if i%2==0:
        e.append(i)
    else:
        o.append(i)
print("Even Num: ",e)
print("Odd Num: ",o)

Even Num:  [10, 34, 52, 16, 42]
Even Num:  [21, 37, 31]

In [32]:
# List Comphresation
num=[10,21,34,52,37,16,42,31]
e=[i for i in num if i%2==0]
print("Even Num:",e)
o=[i for i in num if i%2!=0]
print("Odd Num:",o)

Even Num: [10, 34, 52, 16, 42]
Odd Num: [21, 37, 31]

In [105]:
# def Function
num=[10,21,34,52,37,16,42,31]
def even_odd(i):
    
    if i%2==0:
        return True  
    else:
        return False

e=[n for n in num if even_odd(n)]
print("Even Num:",e)
o=[n for n in num if not even_odd(n)]
print("Odd Num:",o)

Even Num: [10, 34, 52, 16, 42]
Odd Num: [21, 37, 31]

In [108]:
# lambda Function
num=[10,21,34,52,37,16,42,31]

e_o_lambda=lambda x:True if x%2==0 else False
e=[n for n in num if e_o_lambda(n)]
print("Even Num:",e)
o=[n for n in num if not e_o_lambda(n)]
print("Odd Num:",o)

Even Num: [10, 34, 52, 16, 42]
Odd Num: [21, 37, 31]

In [133]:
# filter Function
from itertools import filterfalse
num=[10,21,34,52,37,16,42,31]

# filter on def function

def even_odd(i):
    
    if i%2==0:
        return True  
    else:
        return False
e=list(filter(even_odd,num))
print("Even Num:",e)

o=list(filterfalse(even_odd,num))
print("Odd Num:",o)
######################################
print("*"*50)
# filter on lambda function

e_o_lambda=lambda x:True if x%2==0 else False

e=list(filter(e_o_lambda,num))
print("Even Num:",e)

o=list(filterfalse(e_o_lambda,num))
print("Odd Num:",o)

Even Num: [10, 34, 52, 16, 42]
Odd Num: [21, 37, 31]
**************************************************
Even Num: [10, 34, 52, 16, 42]
Odd Num: [21, 37, 31]

In [145]:
# map Function
num=[10,21,34,52,37,16,42,31]

# map on def function

def even_num(i):
    if i%2==0:
        return i 
def odd_num(i):
    if i%2!=0:
        return i
e=list(map(even_num,num))
print("Even Num:",e)

o=list(map(odd_num,num))
print("Odd Num:",o)
######################################
print("*"*50)
# map on lambda function

even_lambda=lambda x: x if x%2==0 else None
odd_lambda=lambda x: x if x%2!=0 else None
e=list(map(even_lambda,num))
print("Even Num:",e)

o=list(map(odd_lambda,num))
print("Odd Num:",o)

Even Num: [10, None, 34, 52, None, 16, 42, None]
Odd Num: [None, 21, None, None, 37, None, None, 31]
**************************************************
Even Num: [10, None, 34, 52, None, 16, 42, None]
Odd Num: [None, 21, None, None, 37, None, None, 31]

In [147]:
# use map and filter together to get square of even num

num=[10,21,34,52,37,16,42,31]
def is_even(i):
    if i%2==0:
        return i
res=list(map(lambda n: n ** 2, filter(is_even, num)))
res

[100, 1156, 2704, 256, 1764]

In [149]:
# use filter with reduce to calculate cumulative sum of even num
from functools import reduce
num=[10,21,34,52,37,16,42,31]

def is_even(i):
    return i % 2 == 0
res=reduce(lambda a, b: a + b, filter(is_even, num))
res

154