# Functions 3

## lambda

- single line functions
- it can exist without a FUNCTIONName also. No Function Calling is then AVAILABLE
- def less function


Syntax :: lambda arguments : expression

In [ ]:
if  expression: 
    statements
    statements
    statements
else : 
    statements
    statements

In [ ]:
if  expression: 
    statements
else : 
    statements

outputOfIF if expression else outputOfELSE

### Def Syntax

**Funtion Declaration**
def functionName(a1, a2) :   --- Formal Arguments
    statements
    statements
    
    value = _____________________
    return value #### To take the value out of the funtion

**Calling the Funtion**
functionName(a1, a2)       --- Actual Arguments


### Lambda Syntax

**Funtion Declaration**
functionName = lambda a1, a2 : statements

**Calling the Funtion**
functionName(a1, a2)

In [4]:
## Get Squareroot

def getSquareroot(x) : 
    return x ** 0.5

print( type( getSquareroot ) )
print( getSquareroot( 100 ) )

<class 'function'>
10.0

In [5]:
## Get Squareroot

getSquareroot2 = lambda x : x ** 0.5  # common activity if you apply a function on single data row or data column

print( type( getSquareroot2 ) )
print( getSquareroot2( 100 ) )

<class 'function'>
10.0

In [6]:
lambda x : x ** 0.5

In [11]:
# Weather number is even odd
def evenodd(x):
    if x%2 == 0:
        return "even"
    else:
        return "odd"

print( evenodd(10) )
print( evenodd(11) )

even
odd

In [13]:
even_or_odd = lambda x: "Even" if x % 2 == 0 else "Odd"
print( even_or_odd(10) )
print( even_or_odd(11) )

Even
Odd

In [14]:
# Weather word is palindrome

def palindrome(word) :
    if word[ : :1] == word[ : :-1] :
        return "Palindrome"
    else :
        return  "Not a Palindrome"

word = str(input("Enter the word: ")).strip()
print( palindrome(word) )

word = str(input("Enter the word: ")).strip()
print( palindrome(word) )

Enter the word: madam
Palindrome
Enter the word: 1547
Not a Palindrome

In [16]:
palin_fun = lambda w : "Palindrome" if w[ : : 1] == w[ : : -1] else "Not a Palindrome"

print( palin_fun('madam') )
print( palin_fun('16242') )

Palindrome
Not a Palindrome

### Filter : 

- Objective is to Filter the values ONLY. FINDING THE VALUES
- Output size may or may not be equal to the Input Size

filter( FunctionName, seqName ) # Use a for loop on the seqName and apply the function one by one on every element

In [24]:
# find the words that are in palindrome. You can also take care of coverting all characters to lowercases
# Input
words = [ "naman", " 75357", "Madam  ", 57842, False, "   Orange  ", " noon " , 8520258]
# output : [ "naman", " 75357", "Madam  ", " noon " , 8520258]

# Way1
newList = []
for w in words : 
    if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] : 
        newList.append(w)

print( newList )


# Way2
newList = [w for w in words if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1]  ]
print( newList )

['naman', ' 75357', 'Madam  ', ' noon ', 8520258]
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]

In [26]:
# find the words that are in palindrome. You can also take care of coverting all characters to lowercases
# Input
words = [ "naman", " 75357", "Madam  ", 57842, False, "   Orange  ", " noon " , 8520258]
# output : [ "naman", " 75357", "Madam  ", " noon " , 8520258]

# Way3

def palin_check(w) :
    if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] : 
        return True
    else :
        return False
    
newList = []
for w in words : 
    if palin_check(w) : 
        newList.append(w)
print( newList )


newList = [w for w in words if palin_check(w)]
print( newList )

['naman', ' 75357', 'Madam  ', ' noon ', 8520258]
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]

In [6]:
words = [ "naman", " 75357", "Madam  ", 57842, False, "   Orange  ", " noon " , 8520258]
# output : [ "naman", " 75357", "Madam  ", " noon " , 8520258]

# Way3

def palin_check(w) :
    newList = []
    for w in words :
      if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] : 
        newList.append(w)
    return newList   
palin_check(words)

['naman', ' 75357', 'Madam  ', ' noon ', 8520258]

In [131]:
# find the words that are in palindrome. You can also take care of coverting all characters to lowercases
# Input
words = [ "naman", " 75357", "Madam  ", 57842, False, "   Orange  ", " noon " , 8520258]
# output : [ "naman", " 75357", "Madam  ", " noon " , 8520258]

# Way4

palin_lambda = lambda w : [w for w in words if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1]]
print( palin_lambda(words) )

['naman', ' 75357', 'Madam  ', ' noon ', 8520258]

In [32]:
# find the words that are in palindrome. You can also take care of coverting all characters to lowercases
# Input
words = [ "naman", " 75357", "Madam  ", 57842, False, "   Orange  ", " noon " , 8520258]
# output : [ "naman", " 75357", "Madam  ", " noon " , 8520258]

# Way5

def palin_check(w) :
    if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] : 
        return True
    else :
        return False

palin_lambda = lambda w : True if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] else False
    
print( filter( palin_check, words  ) )
print( list( filter( palin_check, words  ) ) )

print( filter( palin_lambda, words  ) )
print( list( filter( palin_lambda, words  ) ) )


print( filter( lambda w : True if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] else False, words  ) )
print( list( filter( lambda w : True if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1] else False, words  ) ) )

<filter object at 0x00000187B691D790>
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]
<filter object at 0x00000187B691D0A0>
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]
<filter object at 0x00000187B691D790>
['naman', ' 75357', 'Madam  ', ' noon ', 8520258]

In [ ]:
# For the given list find out the Even  Numbers ONLY
numbers = [ 2, 5, 11, 0, 8, 6, 13, 23, 45  ]

In [80]:
# For the given list find the factorial of the numbers...
# Apply all possible Ways 1 - 4 shared Above
numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]
newList=[]
for i in numbers:
    if i < 0  :
        continue   
    fact =1
    for j in range(i,0,-1):
        fact=fact*j    
    newList.append(fact)       
print(newList)

[2, 120, 39916800, 1, 40320, 720]

In [ ]:
# Way 1

numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]
newList=[]
for i in numbers:
    if i < 0  :
        continue   
    fact =1
    for j in range(i,0,-1):
        fact=fact*j    
    newList.append(fact)       
print(newList)

In [84]:
# Way 2

numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]
newList=[]
def find_fact():
    for i in numbers:
        if i < 0  :
            continue   
        fact =1
        for j in range(i,0,-1):
            fact=fact*j    
        newList.append(fact)    
    return newList   
find_fact()

[2, 120, 39916800, 1, 40320, 720]

In [90]:
# Way 3

numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]
newList=[]
#fact_lambda = lambda n : [n for n in numbers if str(w).strip().lower()[ : : 1] == str(w).strip().lower()[ : : -1]]
print( palin_lambda(words) )
def find_fact():
    for i in numbers:
        if i < 0  :
            continue   
        fact =1
        for j in range(i,0,-1):
            fact=fact*j    
        newList.append(fact)    
    return newList   
find_fact()

SyntaxError: invalid syntax (1474385163.py, line 17)

In [158]:
# Way 3
numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]
nl=[]
import math
for i in numbers:
    if i<0:
        continue
    else:
        nl.append(i)       
print(nl) 
[math.factorial(n) for n in nl ]

[2, 5, 11, 0, 8, 6]

[2, 120, 39916800, 1, 40320, 720]

In [ ]:
# For the given list find the Square of the numbers...
# Apply all possible Ways 1 - 4 shared Above
numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]

In [159]:
# Way 1

numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]
newList=[]
for i in numbers:   
    num=i*i     
    newList.append(num)       
print(newList)

[4, 25, 121, 9, 0, 64, 16, 36]

In [160]:
# Way 2

numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]
newList=[]
def squre_num():
    for i in numbers:   
        num=i*i     
        newList.append(num)       
    return newList
squre_num()

[4, 25, 121, 9, 0, 64, 16, 36]

In [171]:
# Way 3

numbers = [ 2, 5, 11, -3, 0, 8, -4, 6  ]
newList=[]
square_lambda=list[lambda n:[newList.append(i*i) for i in numbers]]
print(square_lambda(numbers))

[2, 5, 11, -3, 0, 8, -4, 6]