# List

- collection of different datatype elements
- []
- Ordered object -> access any element with respect to position number
- Mutable Object -> Modify the element at any position number

In [1]:
s1 = []
print( type( s1 ) )

<class 'list'>

In [3]:
s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)
print( type( s1 ) )

[11, 3.25, False, 6j, 'blue', 'orange', -8]
<class 'list'>

## Basic Properties

In [4]:
## 1. Length : return the total elements inside the list

s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)
print( len(s1) )

[11, 3.25, False, 6j, 'blue', 'orange', -8]
7

In [9]:
# 2. Indexing : Return the element at specified position number. Ordered Object
# list[position]

s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)


# 3.25
print( s1[1] )

# blue
print( s1[4] )


# -8
print( s1[ 6 ] )
print( s1[ len(s1) - 1 ] )
print( s1[ -1 ] )

[11, 3.25, False, 6j, 'blue', 'orange', -8]
3.25
blue
-8
-8
-8

In [ ]:
# 3. slicing : return the number of elements between start and stop
# list[start : end : step]
# end is not included

# default values
# start : 0
# end : len 
# step : 1

In [13]:
s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

# display first 2 elements...
print( s1[ 0 : 2 : 1 ] )
print( s1[ 0 : 2  ] )
print( s1[ : 2 ] )

[11, 3.25, False, 6j, 'blue', 'orange', -8]
[11, 3.25]
[11, 3.25]
[11, 3.25]

In [15]:
# display the colors...
print( s1[ 4 : 6] ) # 4 5

['blue', 'orange']

In [16]:
# return the elemets at odd position number
print( s1[ 1 : len(s1) : 2  ] )

[3.25, 6j, 'orange']

In [17]:
# 4. concat : merge 2 or more list to make a single list
# list1 + list2 + list3 + ....

In [19]:
a = [4, -1]
b = [3, 4]
print( a + b )

c = a+ b
print(c)

[4, -1, 3, 4]
[4, -1, 3, 4]

In [ ]:
# [7, 3]
# [4 , -1][3, 4]
# [[4 , -1], [3, 4]]
# [4 , -1, 3, 4]

In [20]:
a = [4, -1]
b = [3, 4]
print( a + b  + 30 + "earth")

TypeError: can only concatenate list (not "int") to list

In [ ]:
# 5. repeat : repeat the elements by n-times
# list * n

In [21]:
a = [4, -1, "k", 11, 2.5, "b"]

# repeat list 3 times
print( a * 3 )

[4, -1, 'k', 11, 2.5, 'b', 4, -1, 'k', 11, 2.5, 'b', 4, -1, 'k', 11, 2.5, 'b']

In [27]:
a = [4, -1, "k", 11, 2.5, "b"]

# 11 2.5 11 2.5
print( a[ 3 : 5 ] * 2 ) # 3 4

[11, 2.5, 11, 2.5]

In [29]:
a = [4, -1, "k", 11, 2.5, "b"]

# kkkkk
print( a[2]  * 5)

kkkkk

In [32]:
a = [4, -1, "k", 11, 2.5, "b"]

# 444
print( str( a[0]  ) * 3 )

444

In [33]:
# 6. Membership (in) : return True if element is present inside LIST
# element in list

In [34]:
s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

print( 6j in s1 )

[11, 3.25, False, 6j, 'blue', 'orange', -8]
True

In [35]:
print( "BLUE" in s1 )

False

In [37]:
print( True in s1 )

False

In [38]:
x = [ 11, 3.25, False, 6j, [5, 4, 9, 11, 20], "blue", "orange", -8  ]
x

[11, 3.25, False, 6j, [5, 4, 9, 11, 20], 'blue', 'orange', -8]

In [41]:
# 20
print( x[4][-1] )
print( x[4][4] )

20
20

In [44]:
# 4 11 4 11
print( x[4]  )
print( x[4][1 : len( x[4] ) : 2]  )
print( x[4][1 : len( x[4] ) : 2]  * 2 )

[5, 4, 9, 11, 20]
[4, 11]
[4, 11, 4, 11]

In [45]:
print( 9 in x )

False

In [46]:
print( False in x[4] )

False

## String Split and Join

In [47]:
# string split 
# --> split the string on the basis of pattern
# returns in the form of list

# string.split("pattern")

In [48]:
stringName = "this #is python #programming #class"

In [49]:
res = stringName.split(" ")
print(res)

['this', '#is', 'python', '#programming', '#class']

In [50]:
res = stringName.split("#") # this ,is python ,programming ,class
print(res)

['this ', 'is python ', 'programming ', 'class']

In [51]:
res = stringName.split("p")  # this #is ,ython #,rogramming #class
print(res)

['this #is ', 'ython #', 'rogramming #class']

In [59]:
# extarct date, month and year
# date = 25
# month = 02
# year = 2023

msg = "hey alexa, set a reminder to wish my friend on 25/02/2023"
w = msg.split(" ")
print(w)
print(w[-1])

res  = msg.split(" ")[-1].split("/")
print(res)
print( "Date = ", res[0] )
print( "Month = ", res[1] )
print( "Year = ", res[2] )

['hey', 'alexa,', 'set', 'a', 'reminder', 'to', 'wish', 'my', 'friend', 'on', '25/02/2023']
25/02/2023
['25', '02', '2023']
Date =  25
Month =  02
Year =  2023

In [58]:
newString = w[-1]
newString.split("/")

['25', '02', '2023']

In [64]:
# Extract the otp
# Extract the mobile
# Extract the email


yourMessage = "The OTP to authorise current transaction is 15875 and its shared on 8745821035 and nitish@gmail.com"

res = yourMessage.split(" ")
print( res )


for each in res : 
#     print(each)
    if "@" in each : 
        print("Email Address : ", each)
    
# for each in range( 0, len(res) ) : 
#     print( res[each] )

['The', 'OTP', 'to', 'authorise', 'current', 'transaction', 'is', '15875', 'and', 'its', 'shared', 'on', '8745821035', 'and', 'nitish@gmail.com']
Email Address :  nitish@gmail.com

In [66]:
yourMessage = "The OTP to authorise current transaction is 15875 and its shared on 8745821035 and nitish@gmail.com"

res = yourMessage.split(" ")
print( res )


for each in res : 
    if each.isdigit() and len(each) == 10 : 
        print(each)

['The', 'OTP', 'to', 'authorise', 'current', 'transaction', 'is', '15875', 'and', 'its', 'shared', 'on', '8745821035', 'and', 'nitish@gmail.com']
8745821035

In [67]:
yourMessage = "The OTP to authorise current transaction is 15875 and its shared on 8745821035 and nitish@gmail.com"

res = yourMessage.split(" ")
print( res )


for each in res : 
    if each.isdigit() and len(each) != 10 : 
        print(each)

['The', 'OTP', 'to', 'authorise', 'current', 'transaction', 'is', '15875', 'and', 'its', 'shared', 'on', '8745821035', 'and', 'nitish@gmail.com']
15875

## String Split and Join

In [47]:
# string join 
# --> Join the List on the basis of pattern
# returns in the form of string

# string.split("pattern")
# "pattern".join(listName)

In [68]:
stringName = "this #is python #programming #class"

In [69]:
res = stringName.split(" ")
print(res)

['this', '#is', 'python', '#programming', '#class']

In [70]:
newString = " ".join(res)
newString

'this #is python #programming #class'

In [71]:
res = stringName.split("#")
print(res)

['this ', 'is python ', 'programming ', 'class']

In [74]:
newString = "+".join(res)
newString

'this +is python +programming +class'

In [1]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [3]:
t=(10,20,"abc",50.6,None)
t

(10, 20, 'abc', 50.6, None)

In [4]:
a="p@yTHOn"
res="PYTHON" if "@" in a else "python"
res

'PYTHON'