# List

- collection of different datatype elements
- []
- Ordered object -> access any element with respect to position number
- Mutable Object -> Modify the element at any position number. Insert , delete or replace the element at any position|

In [ ]:
s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

In [ ]:
# Insert an element ???

In [1]:
# append - insert SINGLE ELEMENT at the end of the list

In [3]:
s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

s1.append(99)
print(s1)

s1.append(99)
print(s1)

s1.append(99)
print(s1)

[11, 3.25, False, 6j, 'blue', 'orange', -8]
[11, 3.25, False, 6j, 'blue', 'orange', -8, 99]
[11, 3.25, False, 6j, 'blue', 'orange', -8, 99, 99]
[11, 3.25, False, 6j, 'blue', 'orange', -8, 99, 99, 99]

In [5]:
# insert - insert the element at any position number
# list.insert( position, element )

s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

# insert 99 between blue and orange
#  11, 3.25, False, 6j, "blue", "orange", -8 
#  11, 3.25, False, 6j, "blue", 99, "orange", -8 

s1.insert(5, 99)
print(s1)

[11, 3.25, False, 6j, 'blue', 'orange', -8]
[11, 3.25, False, 6j, 'blue', 99, 'orange', -8]

In [8]:
# replace . 
# list[position] = neewValue

s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

# replace False by True
s1[2] = True
print(s1)

# replace "orange" byy apple
s1[-2] = "apple"
print(s1)

[11, 3.25, False, 6j, 'blue', 'orange', -8]
[11, 3.25, True, 6j, 'blue', 'orange', -8]
[11, 3.25, True, 6j, 'blue', 'apple', -8]

In [11]:
# remove : delete the FIRST element by referring to its Value
s1 = [ 11, 3.25, False, 6j, 11, "blue", "orange", -8, 11 ]
print(s1)

s1.remove( 11 )
print(s1)

s1.remove( 11 )
print(s1)


s1.remove( 999 )
print(s1)

[11, 3.25, False, 6j, 11, 'blue', 'orange', -8, 11]
[3.25, False, 6j, 11, 'blue', 'orange', -8, 11]
[3.25, False, 6j, 'blue', 'orange', -8, 11]

ValueError: list.remove(x): x not in list

In [16]:
# pop : remove the element by refrring to its position number
# by default, it removes the last element of the list
# this method return the element also

s1 = [ 11, 3.25, False, 6j, 11, "blue", "orange", -8, 11 ]
print(s1)

print( s1.pop() )
print(s1)

print( s1.pop(2) )
print(s1)

print( s1.pop(4) )
print(s1)

[11, 3.25, False, 6j, 11, 'blue', 'orange', -8, 11]
11
[11, 3.25, False, 6j, 11, 'blue', 'orange', -8]
False
[11, 3.25, 6j, 11, 'blue', 'orange', -8]
blue
[11, 3.25, 6j, 11, 'orange', -8]

In [13]:
s1 = [ 11, 3.25, False, 6j, 11, "blue", "orange", -8, 11 ]
print(s1)

print( s1.append(99) )
print(s1)

[11, 3.25, False, 6j, 11, 'blue', 'orange', -8, 11]
None
[11, 3.25, False, 6j, 11, 'blue', 'orange', -8, 11, 99]

In [14]:
s1 = [ 11, 3.25, False, 6j, 11, "blue", "orange", -8, 11 ]
print(s1)

print( s1.remove(11) )
print(s1)

[11, 3.25, False, 6j, 11, 'blue', 'orange', -8, 11]
None
[3.25, False, 6j, 11, 'blue', 'orange', -8, 11]

In [1]:
def myfunc(n):
  return abs(n - 50)

thislist = [100, 50, 65, 82, 23]
thislist.sort(key = myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [2]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [3]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [17]:
# take 3 animal names from the user and save it in the list

animalName = input("Animal Name : ")
print(animalName)

Animal Name : lion
lion

In [19]:
# take 3 animal names from the user and save it in the list

animals = []

for i in range(3) : 
    animalName = input("Animal Name : ")
    animals.append(animalName)
    
    
print(animals)

Animal Name : lion
Animal Name : tiger
Animal Name : zebra
['lion', 'tiger', 'zebra']

In [23]:
# Count : frequency of the elements inside the list

s1 = [ 11, 3.25, False, 6j, 11, "blue", "orange", -8, 11 ]
print(s1)

print( s1.count(11) )
print( s1.count(False) )
print( s1.count(99) )

[11, 3.25, False, 6j, 11, 'blue', 'orange', -8, 11]
3
1
0

In [24]:
# Index : return Position  number of the element

s1 = [ 11, 3.25, False, 6j, 11, "blue", "orange", -8, 11 ]
print(s1)

print( s1.index("blue") )

[11, 3.25, False, 6j, 11, 'blue', 'orange', -8, 11]
5

In [25]:
s1 = [ 11, 3.25, False, 6j, 11, "blue", "orange", -8, 11 ]
print(s1)

# replace the 6j by -22

pos = s1.index(6j)
print(pos)
s1[pos] = -22
print(s1)

[11, 3.25, False, 6j, 11, 'blue', 'orange', -8, 11]
3
[11, 3.25, False, -22, 11, 'blue', 'orange', -8, 11]

In [27]:
# insert - insert the element at any position number
# list.insert( position, element )

s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

# pos = s1.index("blue")
# s1.insert( pos + 1 , 99)

pos = s1.index("orange")
s1.insert( pos , 99)
print(s1)

[11, 3.25, False, 6j, 'blue', 'orange', -8]
[11, 3.25, False, 6j, 'blue', 99, 'orange', -8]

In [28]:
# copy : create a duplicate list

s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

s2 = s1.copy()
print(s2)

[11, 3.25, False, 6j, 'blue', 'orange', -8]
[11, 3.25, False, 6j, 'blue', 'orange', -8]

In [29]:
# reverse the list ???

s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

print( s1[ : : -1] )

[11, 3.25, False, 6j, 'blue', 'orange', -8]
[-8, 'orange', 'blue', 6j, False, 3.25, 11]

In [34]:
# reverse the list ???

s1 = [ 11, 3.25, False, 6j, "blue", "orange", -8 ]
print(s1)

s1.reverse()
print( s1 )

[11, 3.25, False, 6j, 'blue', 'orange', -8]
[-8, 'orange', 'blue', 6j, False, 3.25, 11]

In [31]:
a = [4, -1]
b = [3, 4]

c = a + b
print(c)

[4, -1, 3, 4]

In [32]:
a = [4, -1]
b = [3, 4]

a.extend(b) # a = a + b
print(a)

[4, -1, 3, 4]

In [4]:

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [9]:
newlist = [x for x in range(10) if x < 5]
newlist = [x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [10]:
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

In [ ]:
# tomorrow : 
#     tuple
#     list comprehension
#  copy and alias