# Loops

- Perform the repititive task
- help you to iterate over the string

##### Syntax for for loop : 

###### iterator : can be any variable in alphabets
        # : it represent a number that is returned by the RANGE function

for iterator in range(start, end, stepsize) :
    statement
    statement
    statement
    
    
for iterator in range( start, len(stringName)  ) : 
    statement
    statement
    statement
    
    stringName[iterator]

##### Syntax for while loop : 

###### iterator : can be any variable in alphabets
        # : it represent a number that is returned by the RANGE function

itertar = value

while iterator <> range : 
    statement
    statement
    statement
    
    iterator = iterator +- 1  # itertor value is updated

In [1]:
# Display "earth" 5 times
print("earth")
print("earth")
print("earth")
print("earth")
print("earth")

earth
earth
earth
earth
earth

In [2]:
# Take 3 animal names from the user and display it

animalName = input("Mention Animal Name : ")
print(animalName)

animalName = input("Mention Animal Name : ")
print(animalName)

animalName = input("Mention Animal Name : ")
print(animalName)

Mention Animal Name : lion
lion
Mention Animal Name : tiger
tiger
Mention Animal Name : zebra
zebra

range(start, end) :: return a sequence of numbers between starting and ending point

In [3]:
range(1, 10) #1 2 3 4 5 6 7 8 9

range(1, 10)

In [7]:
# set( range(1, 10) )

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [8]:
for i in range(1, 11) :
    print(i)

1
2
3
4
5
6
7
8
9
10

In [10]:
# Display "earth" 5 times

for i in range(1, 6) : 
#     print(i)
    print("earth")

earth
earth
earth
earth
earth

In [13]:
# Take 3 animal names from the user and display it

for nitish in range(0, 3) : # 0 1 2
    print(nitish)
    animalName = input("Mention Animal Name : ")
    print(animalName)

print("Program Ended")

0
Mention Animal Name : lion
lion
1
Mention Animal Name : tiger
tiger
2
Mention Animal Name : zebra
zebra
Program Ended

In [16]:
# Take 3 animal names from the user and display it

for nitish in range(11, 14) : # 11 12 13
    print(nitish)
    animalName = input("Mention Animal Name : ")
    print(animalName)

print("Program Ended")

11
Mention Animal Name : lion
lion
12
Mention Animal Name : tiger
tiger
13
Mention Animal Name : zebra
zebra
Program Ended

In [18]:
# print "python" 3 timees

for I in range (1,4):
    print ("python")

python
python
python

In [19]:
# *
# *
# *

for I in range (1,4):
    print ("*")

*
*
*

In [24]:
# *
# **
# ***

for I in range (1,4):
    print (I * "*") # repeat the string

*
**
***

In [ ]:
p
yy
ttt
hhhh
ooooo
nnnnnn

In [31]:
# 1
# 22
# 333
# 4444
# 55555

for I in range (1,6):
    print (I *  str(I)) # 1 * "1" = 1

    
    # 2 * "2" = 22

1
22
333
4444
55555

In [ ]:
#

In [33]:
word = "python"

print( word[0] ) # p
print( word[2] ) # t
print( word[ len(word) - 1] ) # n

p
t
n

In [39]:
word = "python progrtamming"
for i in range( 0 , len(word) ) : 
    print(i, word[i])

0 p
1 y
2 t
3 h
4 o
5 n
6
7 p
8 r
9 o
10 g
11 r
12 t
13 a
14 m
15 m
16 i
17 n
18 g

IndexError: string index out of range

In [40]:
word = "python"
for i in range( 0 , len(word) ) : 
    print(i, word[i])

0 p
1 y
2 t
3 h
4 o
5 n

In [4]:
# p
# yy
# ttt
# hhhh
# ooooo
# nnnnnn

word = "python"
for i in range( 0 , len(word) ) : 
    print(  (i+1 ) * word[i])

p
yy
ttt
hhhh
ooooo
nnnnnn

In [49]:
# Display "earth" 5 times

for i in range(1, 6 , 1) :  # 1 2 3 4 5 
#     print(i)
    print("earth")

earth
earth
earth
earth
earth

In [46]:
# Display "earth" 5 times

for i in range(1, 6 , 2) :  # 1  3  5 
#     print(i)
    print("earth")

earth
earth
earth

In [47]:
# Display "earth" 5 times

for i in range(1, 6 , 3) :  # 1 4  
#     print(i)
    print("earth")

earth
earth

In [51]:
# Display "earth" 6 times

# default start is 0
for i in range( 6 ) :  # 0 1 2 3 4 5 
    print(i)
    print("earth") # i = 1 + stepsize

0
earth
1
earth
2
earth
3
earth
4
earth
5
earth

### While Loop

In [52]:
# Display "earth" 5 times
print("earth")
print("earth")
print("earth")
print("earth")
print("earth")

earth
earth
earth
earth
earth

In [62]:
i = 1

while i < 6 : 
    print(i, "earth")
    i = i + 1

1 earth
2 earth
3 earth
4 earth
5 earth

In [63]:
i = 5

while i > 0 : 
    print(i, "earth")
    i = i - 1

5 earth
4 earth
3 earth
2 earth
1 earth

In [67]:
for i in range(1, 5, 1) :  # start, end, step
    print(i)

1
2
3
4

In [66]:
for i in range(5, 0, -1) :  # start, end, step
    print(i)

5
4
3
2
1

In [13]:
# Take 3 animal names from the user and display it

for nitish in range(0, 3) : # 0 1 2
#     print(nitish)
    animalName = input("Mention Animal Name : ")
    print(animalName)

print("Program Ended")

0
Mention Animal Name : lion
lion
1
Mention Animal Name : tiger
tiger
2
Mention Animal Name : zebra
zebra
Program Ended

In [ ]:
## TIP : If stuck with WHILE loop, then INTERRUPT it

In [70]:
# Take 3 animal names from the user and display it

yy = 0
while yy <= 2 : 
    print(yy)
    animalName = input("Mention Animal Name : ")
    print(animalName)
    yy = yy + 1

0
Mention Animal Name : lion
lion
1
Mention Animal Name : tiger
tiger
2
Mention Animal Name : zebra
zebra

In [72]:
# *
# **
# ***

k = 1
while k <= 3 : 
    print(k * "*")
    k = k + 1

*
**
***

In [ ]:
1
22
333

In [ ]:
p
yy
ttt

In [1]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry