Exercise 1: Calculate the multiplication and sum of two numbers
Given two integer numbers return their product only if the product is equal to or lower than 1000, else return their sum.

In [ ]:
a=30
b=40

if((a*b)>=1000):
    print(a+b)
else:

    print(a*b)

Exercise 2: Print the sum of the current number and the previous number
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

In [ ]:
a=0

while a<=10:
    b=a
    a=a+1
    print("Current Number:",b ,"Previous Number:" , a , "Sum:",a+b );

Exercise 3: Print characters from a string that are present at an even index number
Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "pynative" so you should display ‘p’, ‘n’, ‘t’, ‘v’.

In [ ]:
a="pynative"
x = list(a)
for i in x[0::2]:
    print(i)

In [ ]:
l=[1,2,3,4,5,6,7,8]
print(l[3:-2])

Exercise 4: Remove first n characters from a string
Write a program to remove characters from a string starting from zero up to n and return a new string.

For example:

remove_chars("pynative", 4) so output must be tive. Here we need to remove first four characters from a string.
remove_chars("pynative", 2) so output must be native. Here we need to remove first two characters from a string.

In [ ]:
a="pynative"
print(a[4:])
print(a[2:])

def remove_chars(word, n):
    print('Original string:', word)
    x = word[n:]
    return x

print("Removing characters from a string")
print(remove_chars("pynative", 4))
print(remove_chars("pynative", 2))

In [ ]:
a=10;b=20
if a>b:
    print("a is greater")
elif a==b:
    print("a =b")
else:
    print("b is greater")

In [ ]:
print("abhi\n","\tsalagar "," gm",sep='#')
print(100//-7)
print(100%-7)
print(100/-7)

In [ ]:
print("enter the input")
word=input();
print("**************")
print("input is taken: ",word)

In [ ]:
print("hi all \t whats up \n good morning")
print("happy ", " new "," year ", sep="*")

In [ ]:
f=open('xyz.txt','r')
data=f.read()
if data:
    print("data is there")

else:
    print("data is not available")

In [ ]:
print(10 and 25.3 and "abc" and 1)
print(10 and 0 and "abc" and 1)
print(0 or "" or " " or 0 or "" or 0)
print(not 0)

In [ ]:
print(dir(str))

In [ ]:
print(dir())

In [ ]:
print(dir(list))

In [ ]:
import keyword
print(keyword.kwlist)

In [ ]:
#'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'

a="PytHon   pryogrammiynG  "

print(a.title())
print(a.lower())
print(a.upper())
print(a.swapcase())
print(a.strip())
print(a.split())
print(a.splitlines())
print(a.rsplit())
print(a.find("y",1))
print(a.find("y",a.find("y")+1))
print(a.find("y",a.find("y",a.find("y")+1)+1))
print(a.find("z"))
print(a.index("y"))
print(a.rfind("y"))
print(a.rindex("y"))
try:
  print(a.index("z"))
except:
  print("An exception occurred")

print(a.expandtabs())
print(a.capitalize())
print(a.casefold())
print(a.lstrip())
print(a.count("a"))
print(a.replace("y","x"))
print(a.replace("y","x",1))
print(a.center(26))

In [ ]:
a="python"
print(a.center(10))
print(a.center(10,"#"))
print(a.ljust(10))
print(a.ljust(10,"#"))
print(a.rjust(10))
print(a.rjust(10,"#"))

In [ ]:
name="don"
age=60
sal=100.5

print("{0} is {1} older and earning salary of {2}".format(name,age,sal))
print(f"{name} is {age} older and earning salary of {sal}")
print("%s is %0.2f older and earning salary of %d"%format(name,age,sal))

In [ ]:
a=12345
for i in range(1,6):
    for j in range(1,i+1):
     print(i,end=" ")
    print()

for i in range(1,6):
    print(i*str(i))

for i in range(1,6):
    for j in range(1,i+1):
     print("*",end=" ")
    print()

word="python"
for i in range(0,len(word)):
    print((i+1)*word[i])

In [ ]:
a=1
while a<=3:
    print(a*'*')
    a=a+1

***Python Input and Output Exercise***

In [ ]:
'''Exercise 1: Accept numbers from a user   
Write a program to accept two numbers from the user and calculate multiplication'''

a=int(input("1st number: "))
b=int(input("2nd number: "))
print(a*b)

In [ ]:
''' Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
Use the print() function to format the given words in the mentioned format. Display the ** separator between each string'''

Name="Name"
Is="Is"
James="James"
print(Name,Is,James,sep='**')

In [ ]:
'''Exercise 3: Convert Decimal number to octal using print() output formatting'''

a=8
b=oct(a)
print(b[2:])
print('%o' % a)

In [ ]:
'''Exercise 4: Display float number with 2 decimal places using'''
num = 458.541315
print(round(num,2))

In [ ]:
'''Exercise 5: Accept a list of 5 float numbers as an input from the user'''

a=[]

for i in range(3):
    b=float(input())
    a.append(b)
print(a)

In [ ]:
'''Exercise 6: Write all content of a given file into a new file by skipping line number 5'''
# read test.txt
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()

# open new file in write mode
with open("new_file.txt", "w") as fp:
    count = 0
    # iterate each lines from a test.txt
    for line in lines:
        # skip 5th lines
        if count == 4:
            count += 1
            continue
        else:
            # write current line
            fp.write(line)
        # in each iteration reduce the count
        count += 1

In [ ]:
''' Exercise 7: Accept any three string from one input() call
Write a program to take three names as input from a user in the single input() function call.'''

a=input("add 1st name: ",),input("2nd name: "),input("3rd name: ")
print(a)
str1, str2, str3 = input("Enter three string").split()
print('Name1:', str1)
print('Name2:', str2)
print('Name3:', str3)

In [ ]:
'''Exercise 8: Format variables using a string.format() method.
Write a program to use string.format() method to format the following three variables as per the expected output'''

totalMoney = 1000
quantity = 3
price = 450

statement1 = "I have {1} dollars so I can buy {0} football for {2:.1f} dollars."
print(statement1.format(quantity, totalMoney, price))
'''print(f"I have totalMoney:{totalMoney} dollars so I can buy quantity:{quantity} football for price:{price} dollars.")'''

In [ ]:
'''Exercise 9: Check file is empty or not
Write a program to check if the given file is empty or not
with open("test.txt", "r") as fp:
    # read all lines from a file
    lines = fp.readlines()

for i in range(len(lines)):
    if lines==0:
        print("file is empty")
    else:
        print("file is not empty")'''


import os

size = os.stat("test.txt").st_size
if size == 0:
    print('file is empty')
else:
    print('file is not empty')

In [ ]:
'''Exercise 10: Read line number 4 from the following file'''

with open("test.txt","r") as fp:
    line=fp.readlines()
    print(line[3])

# LOOPS QUESTIONS

In [ ]:
'''Exercise 1: Print First 10 natural numbers using while loop'''
n=1

while n<=10:
    print(n)
    n+=1

In [3]:
'''Exercise 2: Print the following pattern
Write a program to print the following number pattern using a loop.'''

n=5
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print()
    i=i+1

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [1]:
for i in range(1,6):
    for j in range(1,i+1):  
        print(j,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
k = 1
i = 1
while i <= 5 :
    j = 1
    while j <= i:
        print("{:3d}".format(k), end = " ")
        j += 1
        k += 1
    print()
    i += 1

  1
  2   3
  4   5   6
  7   8   9  10
 11  12  13  14  15

In [25]:
'''Exercise 3: Calculate the sum of all numbers from 1 to a given number
Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)'''

num=int(input())
c=0
for i in range(1,num+1):
    c=c+i
print(c)

55

In [26]:
'''Exercise 4: Write a program to print multiplication table of a given number
For example, num = 2 so the output should be'''

a=int(input())
i=1
while i <=10:
    print(a*i)
    i+=1

5
10
15
20
25
30
35
40
45
50

In [56]:
'''Exercise 5: Display numbers from a list using loop
Write a program to display only those numbers from a list that satisfy the following conditions

The number must be divisible by five
If the number is greater than 150, then skip it and move to the next number
If the number is greater than 500, then stop the loop'''

a = [12, 75, 150, 180, 145, 525, 50]
c=0
for i in range(len(a)):
    if a[i]>500:
        break  
    if a[i]>150:
        continue 
        c=c+1   
    if a[i]%5==0: 
        print(a[i])

75
150
145

In [63]:
'''Exercise 6: Count the total number of digits in a number
Write a program to count the total number of digits in a number using a while loop.'''

a=75869
b=1
while b in range(1,len(str(a))):
    b=b+1
print(b)

5

In [89]:
'''Exercise 7: Print the following pattern
Write a program to use for loop to print the following reverse number pattern'''

n=1
i=5
while i>=n:
    j=1
    while j<=i:
        print(j,end=" ")
        j=j+1
    print()
    i=i-1

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [100]:
'''Exercise 8: Print list in reverse order using a loop'''
a = [10, 20, 30, 40, 50]
b=0
c=0
while b<len(a):
    c=sorted(a,reverse=True)
    print(c[b])
    b+=1
for i in range(len(a)-1,-1,-1):
    print(a[i])

50
40
30
20
10
50
40
30
20
10

In [102]:
'''Exercise 9: Display numbers from -10 to -1 using for loop'''
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [115]:
'''Exercise 10: Use else block to display a message “Done” after successful execution of for loop
For example, the following loop will execute without any error.'''

for i in range(5):
    print(i)
else:
    print("Done!")

0
1
2
3
4
Done!

In [153]:
'''Exercise 11: Write a program to display all prime numbers within a range'''

for i in range(25,51):
    for j in range(2,i):
        if i%j==0:           
            break   
    else:
        print(i)

29
31
37
41
43
47

In [158]:
'''Exercise 12: Display Fibonacci series up to 10 terms'''
# first two numbers
num1, num2 = 0, 1

print("Fibonacci sequence:")
# run loop 10 times
for i in range(10):
    # print next number of a series
    print(num1, end="  ")
    # add last two numbers to get next number
    res = num1 + num2

    # update values
    num1 = num2
    num2 = res

Fibonacci sequence:
0  1  1  2  3  5  8  13  21  34

In [165]:
'''Exercise 13: Find the factorial of a given number'''
a=5
c=1
for i in range(1,a+1) :
   c=c*i
print(c)

120

In [178]:
'''Exercise 14: Reverse a given integer number'''
a=76542
a=str(a)
print(a[::-1])

24567

In [186]:
'''Exercise 15: Use a loop to display elements from a given list present at odd index positions'''
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

for i in a[1::2]:
    
    print(i)

20
40
60
80
100

In [187]:
'''Exercise 16: Calculate the cube of all numbers from 1 to a given number'''
a=5
i=1
while i<=5:
    print(i**i*i)
    i+=1

1
8
81
1024
15625

In [201]:
'''Exercise 17: Find the sum of the series upto n terms
Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690'''

n=5
i=1
c="2"
d=2
while i<=5:
    c=i*"2"   
    d=d+int(c)
    print(c,end=" ") 
    i+=1
print(d)

2 22 222 2222 22222 24692

In [207]:
'''Exercise 18: Print the following pattern
Write a program to print the following start pattern using the for loop'''


n,i=5,1
while i<=5:
    print(i*"* ")
    i+=1
for i in range(6,0,-1):
    print(i*"* ")

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# STRING QUESTIONS

In [221]:
'''Exercise 1A: Create a string made of the first, middle and last character
Write a program to create a new string made of an input string’s first, middle, and last character.'''
a="James"
for i in range(0,len(a),2):
    print(a[i],end="")
print("\n")
l=len(a)
m=int(l/2)
s=a[0]+a[m]+a[-1]
print(s)

Jms

Jms

In [225]:
'''Exercise 1B: Create a string made of the middle three characters
Write a program to create a new string made of the middle three characters of an input string.'''
a = "JhonDipPeta"
l=len(a)
m=int(l/2)
s1=a[m-1]+a[m]+a[m+1]
print(s1)
b="JaSonAy"
l1=len(b)
n=int(l1/2)
s2=b[n-1]+b[n]+b[n+1]
print(s2)

Dip
Son

In [234]:
'''Exercise 2: Append new string in the middle of a given string
Given two strings, s1 and s2. Write a program to create a new string s3 by appending s2 in the middle of s1.'''
s1 = "Ault"
s2 = "Kelly"
s3=""
for i in range(len(s1)):
    if i==1:
     s3=s3+s1[i]+s2    
    else:
       s3=s3+s1[i]
print(s3)

AuKellylt

In [236]:
'''Exercise 3: Create a new string made of the first, middle, and last characters of each input string
Given two strings, s1 and s2, write a program to return a new string made of s1 and s2’s first, middle, and last characters.'''

a = "America"
b = "Japan"
ma=int(len(a)/2)
mb=int(len(b)/2)
r=a[0]+b[0]+a[ma]+b[mb]+a[-1]+b[-1]
print(r)

AJrpan

In [240]:
'''Exercise 4: Arrange string characters such that lowercase letters should come first
Given string contains a combination of the lower and upper case letters. Write a program to arrange the characters of a string so that all lowercase letters should come first.'''

a = "PyNaTive"
c=""
d=""
for i in range(len(a)):
    if a[i].islower():
        c=c+a[i]
    else:
        d=d+a[i]

print(c+d)

yaivePNT

In [388]:
'''Exercise 5: Count all letters, digits, and special symbols from a given string'''
a="P@#yn26at^&i5ve"
c=0
d=0
s=0
for i in range(len(a)):
    if a[i].isalpha():
        c=c+1
    if a[i].isdigit():
        d=d+1
    if not(a[i].isalnum()):
        e=e+1

print("Chars: ",c)
print("Digits: ",d)
print("Symbols: ",e)

Chars:  8 e
Digits:  3
Symbols:  8

In [259]:
'''Exercise 7: String characters balance Test
Write a program to check if two strings are balanced. For example, strings s1 and s2 are balanced if all the characters in the s1 are present in s2. The character’s position doesn’t matter.'''

a = "Yn"
b = "PYnative"
print(b.__contains__("Yn"))
s1 = "Ynf"
s2 = "PYnative"
print(s2.__contains__("Ynf"))

True
False

In [270]:
'''Exercise 8: Find all occurrences of a substring in a given string by ignoring the case'''
a = "Welcome to USA. usa awesome, isn't it?"
b=a.casefold()
print("Count of USA: ",b.count("usa"))

Count of USA:  2

In [278]:
'''Exercise 9: Calculate the sum and average of the digits present in a string'''
a="PYnative29@#8496"
c=0
n=0
for i in range(len(a)):
    if a[i].isdigit():
        c=c+int(a[i])
        n=n+1
print("sum is: ",c,"Average is",c/n)

6
sum is:  38 Average is 6.333333333333333

In [347]:
'''Exercise 10: Write a program to count occurrences of all characters within a string'''
a = "Applepa"
c=0
for i in range(len(a)):
    if a[i]==a[i-1:0:-1] or a[i]==a[i+1:len(a):1]:
        i+=1
        continue
    else:
        b=a.count(a[i])
        print(a[i], ":",b,end=" ")

str1 = "Apple"

# create a result dictionary
char_dict = dict()

for char in str1:
    count = str1.count(char)
    # add / update the count of a character
    char_dict[char] = count
print('Result:', char_dict)

A : 1 p : 3 l : 1 e : 1 p : 3 a : 1 1
2
2
1
1
Result: {'A': 1, 'p': 2, 'l': 1, 'e': 1}

In [350]:
'''Exercise 11: Reverse a given string'''
a = "PYnative"
print(a[9:0:-1])
for i in reversed(range(len(a))):
    print(a[i],end="")

evitanY
evitanYP

In [366]:
a="Emma is a data scientist who knows Python. Emma works at google."

print(a.index("Emma",1))

43

In [373]:
'''Exercise 13: Split a string on hyphens
Write a program to split a given string on hyphens and display each substring.'''
a= "Emma-is-a-data-scientist"
print(a.replace("-"," \n"))

Emma
is
a
data
scientist

In [392]:
'''Exercise 14: Remove empty strings from a list of strings'''
a = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
c=0
d=[]
for i in range(len(a)):
  if a[i]=="" or a[i]==None:
    c=1   
    continue
  else:
    d.append(a[i])
print(d)

['Emma', 'Jon', 'Kelly', 'Eric']

In [429]:
'''Exercise 15: Remove special symbols / punctuation from a string'''
a = "/*Jon is @developer & musician"
for i in range(len(a)):
    if a[i].isalpha():
        
        print(a[i],end="")


import re

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

# replace special symbols with ''
res = re.sub(r'[^\w\s]', '', str1)
print("New string is ", res)

import string

str1 = "/*Jon is @developer & musician"
print("Original string is ", str1)

new_str = str1.translate(str.maketrans('', '', string.punctuation))

print("New string is ", new_str)

JonisdevelopermusicianOriginal string is  /*Jon is @developer & musician
New string is  Jon is developer  musician
Original string is  /*Jon is @developer & musician
New string is  Jon is developer  musician

In [394]:
'''Exercise 16: Removal all characters from a string except integers'''
a= 'I am 25 years and 10 months old'
for i in range(len(a)):
    if a[i].isdigit():
        
        print(a[i],end="")

2510

In [1]:
'''Exercise 17: Find words with both alphabets and numbers
Write a program to find words with both alphabets and numbers from an input string.'''
a = "Emma25 is Data scientist50 and AI Expert"
b=a.split()
c=[]
for i in range(len(b)):
    if not(b[i].isalpha()):
        c.append(b[i])
print(c)

['Emma25', 'scientist50']

In [463]:
'''Exercise 18: Replace each special symbol with # in the following string'''
a = '/*Jon is @developer & musician!!'
for i in range(len(a)):
  if not(a[i].isalnum()) and not(a[i].isspace()): 
     c=a[i].replace(a[i],"#")
     print(c,end="")  
  else:
     print(a[i],end="")

##Jon is #developer # musician##

In [474]:
msg = "hey alexa, set a reminder to wish my friend on 25/02/2023"
a=msg.split()
print(a)

['hey', 'alexa,', 'set', 'a', 'reminder', 'to', 'wish', 'my', 'friend', 'on', '25/02/2023']

In [475]:
# extarct date, month and year
# date = 25
# month = 02
# year = 2023

msg = "hey alexa, set a reminder to wish my friend on 25/02/2023"
w = msg.split(" ")
print(w)
print(w[-1])

res  = msg.split(" ")[-1].split("/")
print(res)
print( "Date = ", res[0] )
print( "Month = ", res[1] )
print( "Year = ", res[2] )

['hey', 'alexa,', 'set', 'a', 'reminder', 'to', 'wish', 'my', 'friend', 'on', '25/02/2023']
25/02/2023
['25', '02', '2023']
Date =  25
Month =  02
Year =  2023