In [ ]:
for i in range(1,6):
    for j in range(1,i+1):  
        print(j,end=" ")
    print("")

In [ ]:
n=5
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end=" ")
        j=j+1
    print()
    i=i+1

In [2]:
'''Exercise 1: Reverse a list in Python'''
list1 = [100, 200, 300, 400, 500]
print(list1[::-1])

[500, 400, 300, 200, 100]

In [31]:
'''Exercise 2: Concatenate two lists index-wise'''
a = ["M", "na", "i", "Ke"]
b= ["y", "me", "s", "lly"]
c=[]
for i in range(len(a)):
    for j in range(len(b)):
        if i==j:
           c.append(a[i]+b[j])                   
        else:
           continue
print(c)

['My', 'name', 'is', 'Kelly']

In [44]:
''''Exercise 3: Turn every item of a list into its square'''

a= [1, 2, 3, 4, 5, 6, 7]

for i in range(len(a)):
    print(a[i]**2)

1
4
9
16
25
36
49

In [53]:
'''Exercise 4: Concatenate two lists in the following order'''
a = ["Hello ", "take "]
b = ["Dear", "Sir"]

c=[]
for i in range(len(a)):
    for j in range(len(b)):
        if j<=i+1:
           c.append(a[i]+b[j])                   
        else:
           continue
print(c)

['Hello Dear', 'Hello Sir', 'take Dear', 'take Sir']

In [99]:
'''Exercise 5: Iterate both lists simultaneously
Given a two Python list. Write a program to iterate both lists simultaneously and display items from list1 in original order and items from list2 in reverse order.'''

a = [10, 20, 30, 40]
b = [100, 200, 300, 400]


for i in range(len(a)):      
    for j in range(len(b)):
        pass
    print(a[i],b[-i-1])

10 400
20 300
30 200
40 100

In [137]:
'''Exercise 6: Remove empty strings from the list of strings'''
a = ["Mike", "", "Emma", "Kelly", "", "Brad"]
c=[]
for i in range(len(a)):
    if a[i]!="":
        c.append(a[i])  
print(c)

['Mike', 'Emma', 'Kelly', 'Brad']

In [142]:
'''Exercise 7: Add new item to list after a specified item
Write a program to add item 7000 after 6000 in the following Python List'''
a = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

a[2][2].append(7000)
print(a)

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [145]:
'''Exercise 8: Extend nested list by adding the sublist
You have given a nested list. Write a program to extend it by adding the sublist ["h", "i", "j"] in such a way that it will look like the following list.'''
l = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

# sub list to add
s = ["h", "i", "j"]

#l[2][1][2].append(s)
l[2][1][2].extend(s)
print(l)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [150]:
'''9: Replace listâ€™s item with new value if found
You have given a Python list. Write a program to find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of an item.'''
a = [5, 10, 15, 20, 25, 50, 20]
b=a.index(20).insert(b,200)
a.insert(b,200)
print(a)

[5, 10, 15, 200, 20, 25, 50, 20]

In [172]:
'''10: Remove all occurrences of a specific item from a list.
Given a Python list, write a program to remove all occurrences of item 20.'''
a = [5, 20, 15, 20, 25, 50, 20]
c=[]
for i in range(len(a)) :
    if a[i]!=20:
        c.append(a[i])
print(c)

[5, 15, 25, 50]

In [174]:
'''Exercise 1: Reverse the tuple'''
t = (10, 20, 30, 40, 50)
print(t[::-1])

(50, 40, 30, 20, 10)

In [180]:
'''2: Access value 20 from the tuple
The given tuple is a nested tuple. write a Python program to print the value 20.'''
a = ("Orange", [10, 20, 30], (5, 15, 25))

b=a[1][1]
b

20

In [182]:
''' 3: Create a tuple with single item 50'''
t=(50,)
t

(50,)

In [183]:
'''4: Unpack the tuple into 4 variables'''
t = (10, 20, 30, 40)
(a,b,c,d)=t

print(a) # should print 10
print(b) # should print 20
print(c) # should print 30
print(d) # should print 40

10
20
30
40

In [206]:
''' 5: Swap two tuples in Python'''
a = (11, 22)
b = (99, 88)

a,b=b,a
print(a)
print(b)

(99, 88)
(11, 22)

In [209]:
''' 6: Copy specific elements from one tuple to a new tuple
Write a program to copy elements 44 and 55 from the following tuple into a new tuple'''

a = (11, 22, 33, 44, 55, 66)
b=a[3:5]
b

(44, 55)

In [210]:
'''7: Modify the tuple
Given is a nested tuple. Write a program to modify the first item (22) of a list inside a following tuple to 222'''
a = (11, [22, 33], 44, 55)

a[1][0]=222
a

(11, [222, 33], 44, 55)

In [219]:
'''8: Sort a tuple of tuples by 2nd item'''
a = (('a', 23),('b', 37),('c', 11), ('d',29))
a = tuple(sorted(list(a), key=lambda x: x[1]))
a

(('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [220]:
'''9: Counts the number of occurrences of item 50 from a tuple'''
a=(50, 10, 60, 70, 50)
print(a.count(50))

2

In [221]:
'''10: Check if all items in the tuple are the same'''
a = (45, 45, 45, 45)
if a[0]==a[1]==a[2]==a[3]:
    print("same")
else:
    print("not same")

same