In [2]:
# Extract the Mobil number

msg = """A customer buys product from ABC company where you can reach via company@gmail.com and company@yahoo.in 
            also you can connect via 9874545452 and 011-84521476"""

import re
res = re.findall( r"\b\d{10}\b" , msg)
print(res)

res = re.findall( r"\b\d{3}-\d{8}\b" , msg)
print(res)

['9874545452']
['011-84521476']

In [ ]:
9874545452
\d\d\d\d\d\d\d\d\d\d\d

In [19]:
# Extract the words that are minimum 5-letter length **

msg = """A customer buys product from ABC company where you can reach via company@gmail.com and nitish@yahoo.in 
            also you can connect via 9874545452 and 011-84521476"""

import re
res = re.findall( r"\w{5,}" , msg)
print(res)

res = re.findall( r"\b\w{5,}\b" , msg)
print(res)

res = re.findall( r"\S\w{5,}\S" , msg)
print(res)

res = re.findall( r"\s\w{5,}\s" , msg)
print(res)

['customer', 'product', 'company', 'where', 'reach', 'company', 'gmail', 'nitish', 'yahoo', 'connect', '9874545452', '84521476']
['customer', 'product', 'company', 'where', 'reach', 'company', 'gmail', 'nitish', 'yahoo', 'connect', '9874545452', '84521476']
['customer', 'product', 'company', 'company@', 'nitish@', 'connect', '9874545452', '-84521476']
[' customer ', ' product ', ' company ', ' reach ', ' connect ', ' 9874545452 ']

In [20]:
# Extract the words that are maximum 10-letter length

msg = """A customer buys product from ABC company where you can reach via company@gmail.com and company@yahoo.in 
            also you can connect via 9874545452 and 011-84521476"""

import re
res = re.findall( r"\w{,10}" , msg)
print(res)

res = re.findall( r"\w{1,10}" , msg)
print(res)

['A', '', 'customer', '', 'buys', '', 'product', '', 'from', '', 'ABC', '', 'company', '', 'where', '', 'you', '', 'can', '', 'reach', '', 'via', '', 'company', '', 'gmail', '', 'com', '', 'and', '', 'company', '', 'yahoo', '', 'in', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'also', '', 'you', '', 'can', '', 'connect', '', 'via', '', '9874545452', '', 'and', '', '011', '', '84521476', '']
['A', 'customer', 'buys', 'product', 'from', 'ABC', 'company', 'where', 'you', 'can', 'reach', 'via', 'company', 'gmail', 'com', 'and', 'company', 'yahoo', 'in', 'also', 'you', 'can', 'connect', 'via', '9874545452', 'and', '011', '84521476']

In [64]:
# Extract the words that end with 'y' **

msg = """A customer buys product from ABC company where you can reach via company@gmail.com and company@yahoo.in 
            also you can connect via 9874545452 and 011-84521476"""
import re
res = re.findall( r"\b\w{1,}y\b" , msg)
print(res)

res = re.findall( r"y\Z" , msg)
print(res)

res = re.findall( r"[y]\Z" , msg)
print(res)


res = re.findall( r"y$" , msg)
print(res)

if res : 
    print('Matching Patterns : ', res)
else : 
    print("______ No Pattern Matching _____")

['company', 'company', 'company']
[]
[]
[]
______ No Pattern Matching _____

In [ ]:
company
______y

In [ ]:
# Extract the words that 3-letter word

msg = """A customer buys product from ABC company where you can reach via company@gmail.com and company@yahoo.in 
            also you can connect via 9874545452 and 011-84521476"""

In [34]:
# Extract the Email Address

msg = """A customer buys product from ABC company where you can reach via company@gmail.com and company@yahoo.in 
            also you can connect via 9874545452 and 011-84521476"""

import re

res = re.findall( r"\w{1,}@\w{1,}.\w{1,}" , msg)
print(res)

['company@gmail.com', 'company@yahoo.in']

In [ ]:
company@gmail.com
\w_____@\w__.\w___

In [ ]:
company@yahoo.in 
\w_____@\w__.\w___

In [44]:
# Extract that ends with vowels

msg = """A customer buys product from ABC company wherE you can reach via company@gmail.com and company@yahoo.in 
            also you can connect viA 9874545452 and 011-84521476"""

import re

res = re.findall( r"\b\w{1,}[aeiouAEIOU]\b" , msg)
print(res)

['wherE', 'you', 'via', 'yahoo', 'also', 'you', 'viA']

In [51]:
## Extract the words that start with b or c 

data = "cook book look took back ook chowk banking"

res = re.findall( r"\bb\w{1,}\b" , data)
print(res)

res = re.findall( r"\bc\w{1,}\b" , data)
print(res)

res = re.findall( r"\b[bc]\w{1,}\b" , data)
print(res)

res = re.findall( r"\s[^bc]\w{1,}\b" , data) #Exclude b c
print(res)

['book', 'back', 'banking']
['cook', 'chowk']
['cook', 'book', 'back', 'chowk', 'banking']
[' look', ' took', ' ook']

In [57]:
## Extract the words that start with b or c 
# It is 4-letter long

data = "cook book look took back ook chowk banking"

res = re.findall( r"\b[bc]\w{3}\b" , data)
print(res)

if res : 
    print('Matching Patterns : ', res)
else : 
    print("______ No Pattern Matching _____")

['cook', 'book', 'back']
Matching Patterns :  ['cook', 'book', 'back']

### 2. Match

- return the word if pattern matches at the beginning on the string ONLY, else None is returned
- you have to use .group() method

In [62]:
data = "cook book look took back ook chowk banking"

import re
res = re.match( r"c\w{1,}\b" , data)
print(res)

if res : 
    print('Matching Patterns : ', res.group())
else : 
    print("______ No Pattern Matching _____")

<re.Match object; span=(0, 4), match='cook'>
Matching Patterns :  cook

In [66]:
data = "cook book look took back ook chowk banking"

import re
res = re.findall( r"^c\w{1,}" , data)
print(res)

if res : 
    print('Matching Patterns : ', res)
else : 
    print("______ No Pattern Matching _____")

[]
______ No Pattern Matching _____

In [60]:
data = "cook book look took back ook chowk banking"

import re
res = re.match( r"b\w{1,}\b" , data)

if res : 
    print('Matching Patterns : ', res.group())
else : 
    print("______ No Pattern Matching _____")

______ No Pattern Matching _____

### 3. Search

- return the FIRST word if pattern matches in the string, else None is returned
- you have to use .group() method

In [63]:
data = "cook book look took back ook chowk banking"

import re
res = re.search( r"b\w{1,}\b" , data)
print(res)

if res : 
    print('Matching Patterns : ', res.group())
else : 
    print("______ No Pattern Matching _____")

<re.Match object; span=(5, 9), match='book'>
Matching Patterns :  book

In [69]:
# 4. substitute : 
# re.sub(oldString, newString, stringName)

data = "this is python and data science batch"

# replace data science by machine learning

output = data.replace( "data science", "machine learning" )
print(output)

import re
re.sub("data science", "machine learning", data)

this is python and machine learning batch

'this is python and machine learning batch'

In [72]:
msg = """A customer buys product from ABC company where you can reach via company@gmail.com and nitish@yahoo.in 
            also you can connect via 9874545452, 9870000452 and 011-84521476"""
# Mask the mobile numbers
# Mask the Email Address

re.sub( r"\d{10}", "*"*10 , msg)

'A customer buys product from ABC company where you can reach via company@gmail.com and nitish@yahoo.in \n            also you can connect via **********, ********** and 011-84521476'

In [ ]:
# 5. split
# re.split(pattern, stringName)

# string split

In [9]:
import re

txt = "The rain in Spain"
x = re.findall("ai", txt)
print(x)

['ai', 'ai']

In [10]:
import re

txt = "The rain in Spain"
x = re.findall("port", txt)
print(x)

[]

In [1]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [2]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [3]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain

In [8]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [4]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt, 2)
print(x)

The9rain9in Spain

In [7]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']