# Ternary Operator

- single line if - else condition


- if expression : 
    statement
  else : 
      statement
      
- output_of_IF if expression else output_of_Else      



- if expression : 
    statement
- elif expression : 
    statement
  else : 
      statement


- output_of_IF if expression else ( output_of_IF if expression else output_of_Else  )      

- if expression : 
    statement
  else : 
    - if expression : 
        statement
      else : 
          - if expression : 
                statement
              else : 
                  statement

In [1]:
# Even Odd :

num = 11
if num%2 == 0 : 
    print("Even")
else : 
    print('ODD')

res = "even" if num%2 == 0 else "odd"
print(res)

print( "even" if num%2 == 0 else "odd" )

ODD
odd
odd

In [8]:
print( print( "Even" ) )

Even
None

In [9]:
print( print( 100 ) )

100
None

In [3]:
print(print())

None

In [4]:
res = print( "even" ) if num%2 == 0 else print( "odd" )
print(res)

odd
None

In [7]:
s = 100

In [ ]:
# x( y( z(  ) ) )

In [14]:
## Weather a word is in palindrome ...
word = "madaM"

# print( word[ : : 1] )
# print( word[ : : -1] )

if word[ : : 1] == word[ : : -1] : 
    print('Palindrome')
else : 
    print("Not a Palindrome")

Not a Palindrome

In [20]:
word = "madam"

res = print("Palindrome") if  word[ : : 1] == word[ : : -1] else print("Not a Palindrome" )
res

Palindrome

In [21]:
## Anagrams ...
# tea eat
# del led
# goa  goo

w1 = "tea"
w2 = "eat"

print( sorted( w1 ) )
print( sorted( w2 ) )

['a', 'e', 't']
['a', 'e', 't']

In [24]:

w1 = "tea"
# w2 = "eat"
w2 = "tee"

if sorted(w1) == sorted(w2) : 
    print("Anagrams")
else : 
    print("Not anagrams")

Not anagrams

In [25]:

w1 = "tea"
# w2 = "eat"
w2 = "tee"

expression = "Anagrams" if sorted(w1) == sorted(w2) else "Not Anagrams"
print( expression )

Not Anagrams

In [33]:
# Convert the word to uppercase if @ is there inside the word else convert to lower case
# string = "p@yTHoN" : "PYTHON"
# string = "pyTHoN" : "python"

word = "p@yTHoN"

if "@" in word : 
    print(word.replace("@", "").upper())

else : 
    print(word.lower())

PYTHON

In [31]:
myString = "hello world"
myString.replace("hello", "ola").upper()

'OLA WORLD'

In [35]:
word = "pyTHoN"

expp = word.replace("@", "").upper() if "@" in word else word.lower()
print(expp)

python

In [40]:
# Find which number is greater out if num1 and num2

num1 = 50
num2 = 10

if num1 > num2 : 
    print(num1)
else : 
    print(num2)

res = num1 if num1 > num2 else num2
print(res)

50
50

In [45]:
# Find which number is greater out if num1 and num2

num1 = 5
num2 = 10

if num1 > num2 : 
    print(f"{num1} is greater than {num2}")
else : 
    print(f"{num2} is greater than {num1}")

res = f"{num1} is greater than {num2}" if num1 > num2 else f"{num2} is greater than {num1}"
print(res)

10 is greater than 5
10 is greater than 5

In [50]:
# Find which number is greater out if num1 and num2

num1 = 1
num2 = 10

if num1 > num2 : 
    print(f"{num1} is greater than {num2}")
elif num2 > num1 : 
    print(f"{num2} is greater than {num1}")
else : 
    print("Both are Equal")
    
res = f"{num1} is greater than {num2}" if num1 > num2 else ( f"{num2} is greater than {num1}" if num2 > num1 else "Both are Equal"  )
print(res)

10 is greater than 1
10 is greater than 1

In [ ]:
## find the digits if entire word is numbers, find the chaacters if entire word is alphabets else find the count of spaces.

input = "5478", output : 4 # count digits
input = "ftyghj", output : 6 #count alphabets
input = "vfjh %^&* 5478", output : 2 # count spaces

In [ ]:
## find the digits if entire word is numbers, 
# convert word to upper if entire word is alphabets 
# else convert it to title format.

input = "5478", output : 4 # count digits
input = "ftyghj", output : 6 #count alphabets
input = "vfjh %^&* 5478", output : 2 # count spaces