# Tuple

- collection of different datatype elements
- ()
- Ordered Object - Access any element wrt POSITION
- Immutable - You Can't modify the element at any position

In [1]:
t1 = ()
print( type(t1) )

<class 'tuple'>

In [3]:
t1 = (11, 3.25, False, 6j, "blue", "orange", -8)
print( type(t1) )
print(t1)

<class 'tuple'>
(11, 3.25, False, 6j, 'blue', 'orange', -8)

## Basic Properties

In [4]:
# 1. Length : 

t1 = (11, 3.25, False, 6j, "blue", "orange", -8)
print(t1)

print( len(t1) )

(11, 3.25, False, 6j, 'blue', 'orange', -8)
7

In [8]:
# 2. Index and Slicing

t1 = (11, 3.25, False, 6j, "blue", "orange", -8)
print(t1)

print( t1[4] )
print( t1[-3] )


print( t1[0 : 3] )
print( t1[ 0 : : 2] )

(11, 3.25, False, 6j, 'blue', 'orange', -8)
blue
blue
(11, 3.25, False)
(11, False, 'blue', -8)

In [10]:
# 3. Concatenation

res = ( 1, -3, False ) + ("java", 4, 0, -8)
res

(1, -3, False, 'java', 4, 0, -8)

In [11]:
# 4. repeat : *


( 1, -3, False ) * 3

(1, -3, False, 1, -3, False, 1, -3, False)

In [18]:
# 5. Membership : 

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)
print(t1)

print( "blue" in t1 )
print( "ORANGE" in t1 )

print( 9 in t1 )
print( 9 in t1[4] )

(11, 3.25, False, 6j, (4, 7, 9, 11), 'blue', 'orange', -8)
True
False
False
True

In [17]:
t1[4]

(4, 7, 9, 11)

## Tuple Methods

In [20]:
# Replacement : 

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

t1[4] = 999999

TypeError: 'tuple' object does not support item assignment

In [22]:
s1 = [11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8]

s1[4] = 999999
s1

[11, 3.25, False, 6j, 999999, 'blue', 'orange', -8]

In [24]:
# Deletion : 

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

# t1.remove(False)
# t1.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [ ]:
# List Attributes

insert, pop, copy, reverse, remove, append, index

In [25]:
# Insert : 

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

t1.insert(2, 999999999999999999999)

AttributeError: 'tuple' object has no attribute 'insert'

In [28]:
# 1. Count : 

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

print( t1.count(11) )
print( t1.count(99999999999999999999) )

1
0

In [29]:
# 2. Index : Return the position of the character 

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

print( t1.index(11) )
print( t1.index(99999999999999999999) )

0

ValueError: tuple.index(x): x not in tuple

In [32]:
t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

t1 = list(t1)
t1.pop()
t1 = tuple(t1)
t1

(11, 3.25, False, 6j, (4, 7, 9, 11), 'blue', 'orange')

In [ ]:
# x is a list
x.reverse()
x.upper()

## 

applications : 
    
    
tuple
- immutable
- secure
- fetch records from sql ()
- wifi packets

list 
- mutable
- not secure
- excel table, notepad ...

In [35]:
for i in enumerate('python') : 
    print(i[1])

p
y
t
h
o
n

In [52]:
### Manipulations in String and Tuple can only be done using Basic Operations ...

In [ ]:
# Insert 99 between 3.25 and False

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

# 11, 3.25, False,
# 0    1      2

In [39]:
pos = t1.index(3.25)
print(pos)

firstPart = t1[ : pos + 1  ]
firstPart

1

(11, 3.25)

In [40]:
pos = t1.index(3.25)
print(pos)

secondPart = t1[ pos + 1  :  ]
secondPart

1

(False, 6j, (4, 7, 9, 11), 'blue', 'orange')

In [51]:
res = firstPart + (99, ) + secondPart
res

(11, 3.25, 99, False, 6j, (4, 7, 9, 11), 'blue', 'orange')

In [ ]:
pos = t1.index(3.25)
print(pos)

res = firstPart + (99, ) + secondPart
res

In [53]:
# Insertion ....
# Insert 99 between 3.25 and False

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

pos = t1.index(3.25)
print(pos)

res = t1[ : pos + 1  ] + (99, ) + t1[ pos + 1  :  ]
res

1

(11, 3.25, 99, False, 6j, (4, 7, 9, 11), 'blue', 'orange')

In [ ]:
# Delete the element 6j

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

In [ ]:
# Replace the element blue by green

t1 = (11, 3.25, False, 6j, (4, 7, 9, 11) , "blue", "orange", -8)

In [49]:
x = (100j, )
print( type(x) )

<class 'tuple'>