In [6]:
for i in range(1,6):
    for j in range(1,i+1):  
        print(j,end=" ")
    print("")

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
n=5
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end=" ")
        j=j+1
    print()
    i=i+1

*
* *
* * *
* * * *
* * * * *

In [17]:
'''1: Add a list of elements to a set
Given a Python list, Write a program to add all its elements into a given set.'''

a = {"Yellow", "Orange", "Black"}
b = ["Blue", "Green", "Red"]
c=list(a)
d=c+b
e=set(d)
print(e)
a.update(b)
print(a)

{'Red', 'Black', 'Blue', 'Orange', 'Green', 'Yellow'}
{'Red', 'Black', 'Blue', 'Orange', 'Green', 'Yellow'}

In [18]:
'''2: Return a new set of identical items from two sets'''
a = {10, 20, 30, 40, 50}
b = {30, 40, 50, 60, 70}
print(a.intersection(b))

{40, 50, 30}

In [21]:
'''3: Get Only unique items from two sets
Write a Python program to return a new set with unique items from both sets by removing duplicates.'''
a = {10, 20, 30, 40, 50}
b = {30, 40, 50, 60, 70}
print(a.union(b))

{70, 40, 10, 50, 20, 60, 30}

In [22]:
'''4: Update the first set with items that don’t exist in the second set
Given two Python sets, write a Python program to update the first set with items that exist only in the first set and not in the second set.'''
a = {10, 20, 30}
b = {20, 40, 50}
print(a.difference(b))

{10, 30}

In [33]:
'''5: Remove items from the set at once
Write a Python program to remove items 10, 20, 30 from the following set at once.'''
a= {10, 20, 30, 40, 50}
a.difference_update({10,20,30})
a

{40, 50}

In [34]:
'''6: Return a set of elements present in Set A or B, but not both'''
a= {10, 20, 30, 40, 50}
b = {30, 40, 50, 60, 70}
print(a.symmetric_difference(b))

{20, 70, 10, 60}

In [35]:
'''7: Check if two sets have any elements in common. If yes, display the common elements'''
a= {10, 20, 30, 40, 50}
b = {60, 70, 80, 90, 10}
print(a.intersection(b))

{10}

In [38]:
'''8: Update set1 by adding items from set2, except common items'''
a= {10, 20, 30, 40, 50}
b = {30, 40, 50, 60, 70}
print(a.symmetric_difference(b))

{20, 70, 10, 60}

In [46]:
'''1: Convert two lists into a dictionary'''
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
d=dict(zip(keys,values))
d
# empty dictionary
res_dict = dict()

for i in range(len(keys)):
    res_dict.update({keys[i]: values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [57]:
'''2: Merge two Python dictionaries into one'''
a = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
b = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
a.update(b)
c= {**a, **b}
print(a)
print(c)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
a = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
b = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [59]:
'''3: Print the value of key ‘history’ from the below dict'''
d = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}
print(d["class"]["student"]["marks"]["history"])

80

In [66]:
k = ['Kelly', 'Emma']
v = {"designation": 'Developer', "salary": 8000}
d =dict()
for i in range(len(k)):   
    d.update({k[i]:v})
print(d)

res = dict.fromkeys(k, v)
print(res)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}
{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [77]:
d= {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
b=  ["name", "salary"]
for i in b:
    print({i:d[i]})

{'name': 'Kelly'}
{'salary': 8000}

In [79]:
'''6: Delete a list of keys from a dictionary'''
d= {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}

# Keys to remove
keys = ["name", "salary"]
for i in b:
    del d[i]
print(d)

{'age': 25, 'city': 'New york'}

In [80]:
'''7: Check if a value exists in a dictionary'''
d = {'a': 100, 'b': 200, 'c': 300}
print(200 in d.values())

True

In [88]:
d= {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
d["location"]=d.pop("city")
d

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

In [91]:
'''9: Get the key of a minimum value from the following dictionary'''
d = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}
print(min(d))

Math

In [103]:
'''10: Change value of a key in a nested dictionary'''
d = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

for i in d:   
    if d[i]["name"] =="Brad":
        d[i]["salary"]=8500
print(d)
    
d['emp3']['salary'] = 8500
d

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Brad', 'salary': 8500}}

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

In [114]:
'''Q1. Find the number of vowels and digits and spaces from the below string..
myString = "this is the python programming batch of febuary"'''
a="this is the python programming language"
c=0
d=0
for i in range(len(a)):
    if a[i] in "aeiou":
        c=c+1
    if a[i].isspace():
        d=d+1
print(d)
print(c)

5
11

In [131]:
'''Q2. find which of them is in palindromes.'''
a = ["madam", "naman", "12321", "7530", False, 45621, 85258, "ADDydda"]
c=[]
for i in a:
   
   if str(i).lower()[::1]==str(i).lower()[::-1]:
      c.append(i)

print(c)

['madam', 'naman', '12321', 85258, 'ADDydda']

In [139]:
'''Q3. Find the factorial of the numbers written inside the tuple;'''
a = (8, 3, 0, -5, 10, 5)
for i in a:
    if i==0:     
        print(f"factoral for {i} is one")
    elif i<0:
        print(f"{i} negative factoial is not available")
    else:
        f=1
        for j in range(i,1,-1):       
            if j<=i:
             f=f*j
        print(f)

40320
6
factoral for 0 is zero
-5 negative factoial is not available
3628800
120

In [ ]:
'''Q4. Find the count of each character inside the string
myString = "python programming batch of febuary"
p = ?
b = ?
f = ??'''
d={}
a = "python programming batch of febuary"
for i in a:
    d[i]=a.count(i)
   # print(i,a.count(i))
d

In [151]:
'''Q5. Write a program (WAP) to reverse the tuple'''
a = (8, 3, 0, -5, 10, 5)
print(a[::-1])

(5, 10, -5, 0, 3, 8)

In [160]:
'''Q6. You have been given a dictionary highlighting names and their mobile numbers.
WAP to find out the mobile number of person by taking its name from user.'''
d = {"nitish" : 7503286013, 
             "shweta" : 7451425810, 
             "pawan" :  9987542140, 
             "aman" : 3074514520, 
             "pravesh" : 7452479585,
              "aastha" : 8888999997, 
              "pooja" : 4458777789}

for x,y in d.items():
    print(f"name is {x} and mobile number is {y}")

name is nitish and mobile number is 7503286013
name is shweta and mobile number is 7451425810
name is pawan and mobile number is 9987542140
name is aman and mobile number is 3074514520
name is pravesh and mobile number is 7452479585
name is aastha and mobile number is 8888999997
name is pooja and mobile number is 4458777789

In [177]:
n=int(input())
d=dict()

for i in range(n):
    x=input("name: ")
    y=int(input("number: "))
    d.update({x:y})
print(d)

{'abc': 123}

In [179]:


d = {"nitish" : 7503286013, 
             "shweta" : 7451425810, 
             "pawan" :  9987542140, 
             "aman" : 3074514520, 
             "pravesh" : 7452479585,
              "aastha" : 8888999997, 
              "pooja" : 4458777789}

for x,y in d.items():
    print(f"Congratulations {x} for entering the tournament. Details are shared in your phone number {y}")

Congratulations nitish for entering the tournament. Details are shared in your phone number 7503286013
Congratulations shweta for entering the tournament. Details are shared in your phone number 7451425810
Congratulations pawan for entering the tournament. Details are shared in your phone number 9987542140
Congratulations aman for entering the tournament. Details are shared in your phone number 3074514520
Congratulations pravesh for entering the tournament. Details are shared in your phone number 7452479585
Congratulations aastha for entering the tournament. Details are shared in your phone number 8888999997
Congratulations pooja for entering the tournament. Details are shared in your phone number 4458777789

In [19]:
a="abhinandan salagar"
b=set(a)
print(b)
for i in b:
    if i==" ":
        continue
    c=a.count(i)
    print(i,":",c)

{'r', ' ', 'a', 'g', 'n', 'i', 'b', 's', 'h', 'l', 'd'}
r : 1
a : 6
g : 1
n : 3
i : 1
b : 1
s : 1
h : 1
l : 1
d : 1