# Print Function

- display to the OUTPUT screen

Syntax : print(expression)

Syntax : print(expression1, expression2, expression3 ........)

Syntax : print(expression1, expression2, expression3 ........, sep = " ")

In [1]:
print("hello")

hello

In [5]:
print("hello","everyone")

hello everyone

In [8]:
print("hello","everyone", sep = "*****************")

hello*****************everyone

In [4]:
print( 10 + 3, 8 / 3, 7 * 2 ) # 13, 2.66, 14

13 2.6666666666666665 14

In [9]:
print( 10 + 3, 8 / 3, 7 * 2 , sep = "##") # 13, 2.66, 14

13##2.6666666666666665##14

In [17]:
x = 100
print( "Value of x = ", x )
print( "Value of x = ", x, "Datatype of x : ", type(x), sep = "__" )

Value of x= 100
Value of x = __100__Datatype of x : __<class 'int'>

In [11]:
# Control the string spacing at the time of displaying it

print("Dear All, Thanks for joining the meeting. Regards Nitish")

Dear All, Thanks for joining the meeting. Regards Nitish

In [12]:
# \n : New Line
print("Dear All, \nThanks for joining the meeting. \nRegards \nNitish")

Dear All,
Thanks for joining the meeting.
Regards
Nitish

In [13]:
# \t : Tab Line
print("Dear All, \nThanks for joining the meeting. \n\tRegards \tNitish")

Dear All,
Thanks for joining the meeting.
	Regards 	Nitish

In [14]:
# \\ : Avoids the backslash
print("Dear All, \\nThanks for joining the meeting. \\n\\tRegards \\tNitish")

Dear All, \nThanks for joining the meeting. \n\tRegards \tNitish

# Input 

- take value from the user
- default value taken is STRING

Syntax: 
- input("Message : ")

In [18]:
name = input("Provide Name ==> ")
age = input("Provide AGE ==> ")
sal = input("Provide Salary :: ")

# age = int(age)
# sal = float(sal)

print('Name --> '           ,                       name)
print('Age :: '               ,            age                             )
print('salary ==> '                ,             sal                      )

Provide Name ==> Nitish
Provide AGE ==> 30
Provide Salary :: 500.55
Name -->  Nitish
Age ::  30
salary ==>  500.55

In [20]:
print( type(name) )
print( type(age) )
print( type(sal) )

<class 'str'>
<class 'str'>
<class 'str'>

In [19]:
print( sal + sal * 0.15 ) # "500.55" + "500.55" * 0.15

TypeError: can't multiply sequence by non-int of type 'float'

In [30]:
name = input("Provide Name ==> ")
age = int(  input("Provide AGE ==> ")  )
sal = float(  input("Provide Salary :: ")  )

print('Name --> '           ,                       name)
print('Age :: '               ,            age                             )
print('salary ==> '                ,             sal                      )

Provide Name ==> nitish
Provide AGE ==> 220
Provide Salary :: 57.3
Name -->  nitish
Age ::  220
salary ==>  57.3

In [22]:
print( type(name) )
print( type(age) )
print( type(sal) )

<class 'str'>
<class 'int'>
<class 'float'>

In [24]:
print( sal + sal * 0.15 ) # 500.55 + 500.55 * 0.15

575.6325

In [26]:
x = "58"
print( x, type(x) )

y = int(x)
print(y, type(y))

58 <class 'str'>
58 <class 'int'>

In [27]:
x = "hello"
print( x, type(x) )

y = int(x)
print(y, type(y))

hello <class 'str'>

ValueError: invalid literal for int() with base 10: 'hello'

In [28]:
x = "58.25"
print( x, type(x) )

y = float(x)
print(y, type(y))

58.25 <class 'str'>
58.25 <class 'float'>

In [31]:
print( 5 * 6.5 )

32.5

In [41]:
print(10 - 6)
print(10 * 6)
print(10 / 6)
print( 10 + 6)

4
60
1.6666666666666667
16

In [35]:
10 - 6
10 * 6
10 / 6
10 + 6

16

In [37]:
14 * 6

84

In [40]:
# place = "chenni"

# if place == "delhi" :
#     print ("north")
# else :
#     print ("clueless")

In [44]:
a = 100

In [45]:
a

100